<div class="actions">
<% if @order == "by_vote" -%>
  <div class="votes">
    <%= link_to(image_tag("/images/icons/star.png", 
                :alt => "vote for  #{item.label} ", 
                :style => "position:relative;float:right"), 
        "/rate/#{item.id}/1")%><%= item.votes %>
  </div>
<% else -%>
  
    <%= (link_to "x", "/taggings/#{item.id}", :confirm => 'Are you sure?', :method => :delete) %>
    <%#= check_box "/taggings/#{item.id}/update", item.restricted, :checked => item.restricted,  :class => "check"%>

<% end -%>
</div>