<div class="form_box hidden" id="select_list_form" style="padding:10px;margin:10px">
  <div style="padding:40px;position:relative;width:auto">
    <h1>Find/Create a nuniverse</h1>
    <% form_tag "/lists/create" do -%>
      <fieldset>
        <label>What do you want to visit</label>
        <%= hidden_field_tag :kind, "list"%><br/>
        <%= text_field_tag "input", "", :class => "input" %>
      </fieldset>
    <% end -%>
    <div class="suggestions" style="margin:20px 0 20px 0" src="/lists/suggest">
    </div>

  </div>
  <div style="position:absolute;bottom:70px;right:70px;clear:both">
    <%= link_to image_tag("/images/icons/cancel_btn.png"), "#", :title => "Cancel", :class =>"cancel_button"%>
  </div>

</div>