
<div id="sorting-options" style="" >
    <% options.each do |option| -%>

          <%= link_to("By #{option[0]}", polymorphic_url(@source, :order => option[1], :display => @display, :klass => @klass, :page => 1) , :class => "tab #{@order == option[1] ? 'current' : ''} ") %>

      <% end -%>
</div>