<div class='tabs' >
  <strong style="display:inline;font-weight:bold;margin:0 5px 0 0">Sort</strong>
      <% options.each do |option| -%>

          <%= link_to("By #{option[0]}", "/tags/#{@tag.id}?order=#{ option[1]}&input=#{@filter}", :class => "tab #{selected == option[1] ? 'current' : ''} ") %>

      <% end -%>
</div>