<div id="sorting-options" >
  
  <strong style="display:inline;font-weight:bold;margin:0 5px 0 10px">Sort</strong>
      <% options.each do |option| -%>

          <%= link_to("By #{option[0]}", polymorphic_url(@source, :order => option[1], :display => @display, :klass => @klass.capitalize, :page => 1) , :class => "tab #{@order == option[1] ? 'current' : ''} ") %>

      <% end -%>
</div>