<div class='box heading' id="title_box">
  <%= display_options %>
  <h1 class="title"><span class='hidden'><%= @kind %></span><%= source.title %></h1>
</div>
<%#= perspectives(:source => @list, :selected => @perspective) %>