<% if @mode %>
  <%= columnize(:boxes => images_for(@items), :size => 3)%>
<% else -%>
  <%= will_paginate @items %>
    <div class="items">
      <%= render :partial => "/taggings/instance", :collection => @items %>
    </div>
  
<% end -%>