<% if @mode %>
  <%= columnize(:boxes => images_for(@items), :size => 3)%>
<% else -%>
  
    <div class="items">
      <%= sorting_options(:source => @list, :selected => @order)%>
      <%= will_paginate @items %>
      <%= render :partial => "item", :collection => @items, :locals => {:source => @list} %>
    </div>
  
<% end -%>