<div class="step connection" title="Bookmark-<%= instance.id%>">

  <span class="name body">
    <%= link_to instance.name, bookmark_url(instance) %>
  </span>
  <p><%= instance.url %></p>
  <%= clear %>
</div>