<div style="padding:20px">
  <%= link_to(@connection.subject.label, visit_url(@connection.subject, current_user.login)) %> was successfully connected to  <%= link_to(@connection.object.label, visit_url(@connection.object, current_user.login))%>
</div>