<h1>Listing rankings</h1>

<table>
  <tr>
  </tr>

<% for rankings in @rankings %>
  <tr>
    <td><%= link_to 'Show', rankings %></td>
    <td><%= link_to 'Edit', edit_rankings_path(rankings) %></td>
    <td><%= link_to 'Destroy', rankings, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New rankings', new_rankings_path %>
