<dl class="connections">
<% connections.each do |item| %>
 <dd class="connection <%= cycle('even','odd') %>" >
      <h3><%= link_to(item.headline.capitalize, item.daylife_url)%></h3>
     
      <p> <span class="source">
          <%= link_to("#{item.source.name.capitalize} news @ Daylife", item.source.daylife_url)%> 
        </span><%=item.excerpt  %></p>
  </dd>
<% end -%>
</dl>