<div class="content">
<% if photos.empty? -%>
  <h4>No results were found on Flickr.</h4>
  <h3><a href="http://www.flickr.com" target="_blank">Go to Flickr</a></h2>
<% else -%>
  <dl class="connections">
  <% photos.each do |photo| %>
    <dd class="connection photo <%= cycle('even','odd') %>">
      <% unless photo.sizes[0]['source'].nil? -%>
        <%= link_to(image_tag(photo.sizes[0]['source']), "#", :class => "main") %>
        <% end -%>
    </dd>
  <% end -%>
  </dl>
<% end -%>
</div>