<p>
  <h3><%=h @user.login %>, your nuniverse account has been activated.</h3>
  <h2>Welcome aboard!</h2>
</p>
<p><a href="<%= @url %>"><%=h @url %></a></p>
<p>Cheers,<br/>
The Nuniverse team.
<a href="http://www.nuniverse.net">www.nuniverse.net</a>
</p>
