<p>
  <h3>Congrats, <%= h @user.login %></h3>
  <h2>You've just been accepted to our beta program!</h2>
</p>
<p>
  Just follow that link to activate your account:<br/>
  <a href="<%= @url%>"><%= @url %></a>
</p>

<p>
<p>Cheers,<br/>
The Nuniverse team.
<a href="http://www.nuniverse.net">www.nuniverse.net</a>
</p>