<h3>Thanks for registering.</h3>
<b>We're glad you want to be part of the adventure.</b>
You are now on the list, and we'll send you your activation code as soon as the beta program starts. (We'll do our best to be as fast as a shooting star... or close.)</p>

<p>As a reminder, here are your login informations:</p>
<p><%= @user.login %> / <%= @user.password %></p>

<p>Cheers,
<p>The Nuniverse team.</p>
<a href="http://www.nuniverse.net">www.nuniverse.net</a>
</p>