<div id="comment-box" class="dialog box hidden">
  <div class="content">
    <h2>Discuss</h2>
    <%= image_tag "/images/mockups/discuss.png" %>
    <%= link_to "Older >>", "#TODO", :style => "position:relative;float:right"%>
  </div>
</div>