<div id="content">
  <h2><span style="font-style:italic">"<%= @comment.body %>"</span><span style="font-size:16px;color:#999"> - <%= user_url(@comment.author) %></span></h2>
  <%= link_to "Reply"%>
</div>