<div class="header">
  <h2>Discuss</h2>
</div>
<div class="step" style="position:relative;bottom:0;z-index:999;width:100%">
  <%= render :partial => "/comments/new", :locals => {:parent => @comment}%>
</div>

<div class="step">
  <h2><%= @comment.body %></h2>
  <dl class="content-list">

    <% @comment.comments.each do |comment| %>
      <%= render :partial =>  comment %>
  
    <% end -%>
    <dd class="step"></dd>
  </dl>
</div>


