#sign_up label
{
	display:block;
	padding:0;
	margin:5px 0 5px 0;
	background:none;
}

label input
{
	display:block;
}

input,
textarea {
	font-size:25px;
	border:solid 1px #ccc;
	margin: 0 0 10px 0;
}

textarea {
	background:#eee;
	padding:10px;
}

label {
	font-size:15px;
	margin:10px 0 5px 0;
	padding:10px 0 5px 0;
	color:#666;
	font-weight:bold;
}

.plans {
	margin:200px auto;
}

.plans .plan {
	position:relative;
	float:left;
	width:30%;
	text-align:center;
}


.state {
	position:relative;
	font-size:13px;
}

.pending {
	color:#F30;
}

form ul li label {
	min-width:50%;
}

#select_profile_form a {
	color:#396;
}

#membership {
	width:100%;
}

#membership .price {
	margin: 0 0 0 10px;
	color:#396;
}