.box
{
	position:relative;
	padding:10px;
	text-align:center;
	margin:auto;
}

#control_panel
{

	position:fixed;
	background:none;
	right:10px;
	top:0px;
	padding:0;
	font-size:12px;
	font-weight:bold;
	color:#333;
	z-index:1234567;
}

#control_panel dd
{
	position:relative;
	float:left;
	padding:5px 10px 5px 10px;
	margin:0 0 0 0;
}

#control_panel .selected 
{
	background:#FFF;
}

.detail form
{
	font-size:12px;
	color:#333;
}

.detail form input
{
	position:relative;
	clear:left;
	border:solid 1px #ccc;
}

.detail form label,
#sign_up label
{
	display:block;
	padding:0;
	margin:5px 0 5px 0;
	background:none;
}

#sign_up label input
{
	display:block;
}