div.table {
	width:100%;
	color:#666;
	border:solid 2px #333;
	font-size:14px;
}

div.row {
	padding:5px;
	height:100%;
	border:none;
	position:relative;
	clear:left;
	background:#ccc;
	border-top:solid 1px #999;
	margin: 0 0 0 0;
}

div.cell {
	position:relative;
	float:left;
	padding:5px;
	width:24%;
}

div.pending .cell {
	color:#666;
}

div.pending  .cell  a {
	color:#9F0;
}

div.table .even {
	background:#f6f6f8;
	border:none;
}

div.table .odd {
	background:#ffffff;
	border:none;
}

