body
{
	background:#efefef url('/images/backgrounds/main.png') 0 0 repeat-x;
	padding:40px 0 0 50px;
	overflow:scroll;
	overflow-x:hidden;
}

#notice
{
	position:fixed;
	top:20px;
	left:100px;
	color:#F09;
	z-index:123456;
}

#wrap
{
	padding:0 0;
}

.delimiter
{
	position:relative;
	clear:both;
	padding:0;
	margin:0;
}

.nuniverse
{
	position:relative;
	padding:0 0 0 0;
}

.nuniverse .body
{
	position:relative;
	clear:both;
	margin:0 0 0 0;
	padding:0;
	width:1000%;
}

.nuniverse .scroller
{
	width:1200px;
	overflow-x:hidden;
}