body
{
	background:#efefef url('/images/backgrounds/main.png') 0 0 repeat-x;
	padding:0px 0 0 0px;
}

.delimiter
{
	position:relative;
	clear:left;
	padding:0;
	margin:0;
	height:0;
	line-height:1px;
}

.nuniverse_info
{
	position:relative;
	color:#396;
	font-size:14px;
	font-weight:bold;
	padding:10px;
	margin:5px;
	background:#CFC;
}

.hidden {
	display:none;
}

#notice
{
	position:fixed;
	top:40px;
	right:20px;
	color:#333;
	font-weight:bold;
	font-size:15px;
	z-index:123456;
	background:#9F9;
	padding:10px;
}