.box {
	position:relative;
	clear:both;
	width:auto;
	margin:0 0 3px 0;
	padding:10px;
	background:transparent url("/images/backgrounds/box.png") center left repeat;
	
	border:none;
	overflow:hidden;
	min-height:60px;
	
	
	border:solid 1px #ccc;
	border-bottom:solid 1px #999;
}


.nav .box {
/*	background:#eef6ee;*/
}

.box .item h3 {
	font-size:13px;
}

.list .list {
	padding:0;
	background:none;
}

.list .list .expander {
	display:none;
}

.list .list .items {
	display:block;

}

.list .list .item {
	min-height:50px;
	background:#eee;
}

.list .list .item .thumbnail {
	height:50px;
}

.list .list .item h3 {
	line-height:30px;
	font-size:20px;
}

.expanded {
	min-height:235px;
}

.expanded .items {
	display:block;
}


.hover {
	background:#FFF;
}

.box .spinner {
	display:none;
}

.loading .spinner {
	display:block;
}

.box h2 .icon {
	position:relative;
	float:left;
	margin: 0 5px 0 0;
	height:40px;
}


.box .actions {
	text-align:right;
	border-top:dotted 1px #ccc;
	margin:3px 0 0 0;
	padding:2px 0 0 0;
	color:#6c3;
	font-size:13px;
}

.box .actions a {
	margin-right:5px;
}

.box .expander {
	position:relative;
	float:right;
	padding:0 0 0 5px;
	cursor:pointer;
}

.box .icon {
	position:relative;
	float:left;
	height:30px;
}

#lists {
	background:#e8efbf;
}

.box .actions .command {
	color:#9c6;
	font-size:13px;
}

h2 .command {
	color:#9c6;
	font-size:25px;
	font-weight:bold;
	text-align:center;
	line-height:50px;
	display:block;
}

.image_box .avatar {
	width:100%;
}

.box h4 a {
	color:#9c7;
	font-weight:bold;
}


#permissions {
	
}

#permissions .permission_icon {
	position:relative;
	float:right;
}

.property {
	padding:5px 0 4px 0;
	background:#FFF;
	display:block;
}

.property span {
	margin:0;
}

#property_box .property .label {
	padding:5px;
	background:#eae6dd;
}

#property_box .value {
	background:#FFF;
	padding:5px;
	
}