.box {
	position:relative;
	clear:both;
	width:auto;
	margin:0 0 1px 1px;
	padding:5px;
	background:none;
	
	border:none;
	overflow:hidden;
	min-height:70px;
	height:auto;
}

.personal {
/*	background: #ccc url("/images/backgrounds/box_personal.png") 0 0 repeat-x;;*/
}

.private {
	background:#ccc url("/images/backgrounds/box_private.png") 0 0 repeat-x;
	margin:0 0 1px 1px;	
}

.box h2 {
	font-size:24px;
	color:#999;
	display:inline;
}

.box h3 {
	font-size:16px;
	font-weight:bold;
	color:#666;
}


.box p {
	color:#777;
	font-size:13px;
	padding:3px 0 0 0;
}

.nav .box {
/*	background:#eef6ee;*/
}

.box .connection h3 {
	font-size:13px;
	padding:0;
}

.box a:hover {
	color:#9F0;
}

.list .list {
	padding:0;
	background:none;
}

.list .list .expander {
	display:none;
}

.box .collapse_icon {
	display:none;
}

.expanded .expand_icon {
	display:none;
}

.expanded .collapse_icon {
	display:inline;
}

.expanded {
	height:240px;
	overflow:hidden;


}

#preview_box,
.popup_box {
	position:absolute;
	top:200px;
	left:200px;
	width:432px;
	z-index:45678;
}

#preview_box a.close_btn {
	position:absolute;
	right:16px;
	top:10px;
}

#preview_box #add_to_fav_btn {
	position:absolute;
	right:40px;
	top:30px;
	z-index:678901234;
}


#preview_box .hide_in_preview {
	display:none;
}


.popup_box .wrap {
	padding:24px 23px 0 23px;
	height:auto;
	min-height:100px;
	width:386px;
	background:transparent url('/images/backgrounds/popup_top.png') 0 0 no-repeat;
}

#suggestion_box {
	position:absolute;
	z-index:9987654;
	right:20px;
	top:20px;
	left:auto;
	bottom:auto;
}

#suggestion_box .connection {
	position:relative;
	display:block;
	clear:both;

}


#suggestion_box h3 {
	font-size:17px;
	color:#333;
}

#suggestion_box h3 a {
	font-size:inherit;
	font-weight:inherit;
	color:inherit;
}



.popup_box .footer {

	background:transparent url('/images/backgrounds/popup_bottom.png') left bottom no-repeat;
	height:28px;
}

#preview_box .title {
	margin:0 0 5px 0;
}

#preview_box .pagination {
	clear:both;
	font-size:11px;
	color:#666;
	padding:5px;
}

#preview_box .content img.blowup {
	width:338px;
}

#preview_box .content {
	clear:both;
	width:378px;
	height:auto;
	min-height:120px;
}

#preview_box .connection {
	padding:20px 20px 20px 20px;
	clear:both;
}

#preview_box .subject {
	padding:10px 20px 10px 20px;
}

#preview_box .overview {
	padding:0px 20px 0px 0px;
	color:#666;
	font-size:14px;
}

#preview_box .overview p a {
	color:#396;
}

#preview_box .overview p {
	margin:5px 0 0 0 ;
	line-height:15px;
}

#preview_box .content p {
	padding:0px 10px 10px 0;
}

#preview_box .content .connection a {
	font-weight:bold;
	font-size:15px;
	color:#3C9;
	padding:0;
}

#preview_box .content .connection p {
	padding:0;
}

#preview_box .menu {
	position:absolute;
	top:22px;
	right:22px;
	background:none;
	height:auto;
	width:auto;

}

#preview_box a {
	color:#3C9;
}

#preview_box .connection {
	background:none;
	height:auto;
}

#preview_box .controls {
	position:absolute;
	bottom:50px;
	right:40px;
	clear:both;
}

.box .content {
	display:none;
	height:230px;
	padding-top:10px;
}

.box .content .description {
	font-size:13px;
	color:#666;
}

#small-column .content {
	display:block;
}


#nuniverse .expanded .content {
	display:block;
	visibility:visible;
}

.image_box .avatar {
	width:100%;
}
.expanded .options {
	display:block;
}

.expanded .items {
	display:block;
}



.loading .spinner {
	display:block;
}

.box h2 .icon {
	position:relative;
	float:left;
	margin: 0 5px 0 0;
	height:40px;
}

.box .actions {
	text-align:right;
	position:absolute;
	bottom:5px;
	right:5px;
	margin:3px 0 0 0;
	padding:5px;
	color:#9c6;
	font-size:13px;
	font-weight:normal;
	visibility:hidden;
	background:#333;
}

.card_mode .box {
	min-height:60px;
}

.image_mode .box {
	padding:0;
}

#content.card_mode .box .unqiue_item {
	display:block;
}

#content.image_mode .box h2 {
	position:absolute;
	display:none;
	background:none;
	padding:3px;
	margin:3px;
	height:auto;
	color:#FFF;
}

#content.image_mode .hover h2 {
	background:#333;
	display:block;
}

#content.image_mode .box h2 a.link_to_list {
	line-height:auto;
	
}

.list_mode .unique_item {
	font-size:15px;
}

.image_mode .actions {
	position:absolute;
}

.cards_mode .actions {
	position:relative;
	top:auto;
}

.cards_mode .unique_item {
	display:block;
	font-size:14px;
}

.image_mode .avatar {
	width:100%;
}


.cards_mode .expanded {
	height:340px;
}

.cards_mode .expanded .content {
	height:300px;
}

.cards_mode .expanded .item {
	height:auto;
	position:relative;
	clear:left;
	margin:0 0 5px 0;
}

.box .actions .secondary {
	display:none;
}

.expanded .actions {
	top:auto;
	bottom:5px;
	right:auto;
	font-size:13px;
	width:auto;
}

.expanded .actions .secondary {
	display:inline;
}

.expanded .content .actions {
	bottom:auto;
	right:5px;
}

.box .actions a {
	font-size:inherit;
	font-weight:inherit;
}

.hover h3 {
	color:#FFF;
}

.column .hover {
	background:#333;
	background:transparent url("/images/backgrounds/box.png") 0 0 repeat-x;	
}

.column .hover h2 {
	color:#FFF;
}

.column .hover .current {
	color:#FFF;
}

.hover .actions {
	visibility:visible;
}

.hover p {
	color:#ccc;
}
.box .actions a {
	margin-right:5px;
}

.box .expander {
	position:relative;
	padding:0 0 0;
	cursor:pointer;
	z-index:123456;
}


#lists {
	background:#e8efbf;
}

h2 .command {
	color:#9c6;
	font-size:25px;
	font-weight:bold;
	text-align:center;
	line-height:50px;
	display:block;
}

#image_box {
	padding:0;
	height:auto;
}

#image_box .avatar {
	border:none;
	padding:0;
	width:100%;
}

#image_box .content {
	height:200px;
}

#image_box .actions {
	position:absolute;
	bottom:5px;
	top:auto;
}
.cards_mode #image_box .content {
	height:100%;
}

.cards_mode #image_box .avatar {
	width:100%;
	height:auto;	
}

.box h4 a {
	color:#9c7;
	font-weight:bold;
}


#permissions {
	
}

#permissions .permission_icon {
	position:relative;
	float:right;
}

.property {
	padding:5px 0 4px 0;
	background:#FFF;
	display:block;
}

.property span {
	margin:0;
}

.options {
	position:relative;
	padding:10px 0 0 0;
	min-height:250px;
	display:none;
}

.options dt {
	font-size:22px;
	padding:0 0 5px 0;
	color:#FFF;
	
}

.options dd {
	font-size:14px;
	padding:4px 0 2px 0;
	color:#ccc;
	display:block;
}

.options dd i {
	color:#999;
	font-size:12px;
}


#property_box .property .label {
	padding:5px;
	background:#eae6dd;
}

#property_box .value {
	background:#FFF;
	padding:5px;
}


#content .command_box {
	text-align:center;
	background:#efefef;
	height:40px;
	padding:20px;
	margin:0 0 1px 1px;
}

#nav .box,
#nav .command_box {
	background:none;
	overflow:hidden;
	position:relative;
	float:left;
	width:auto;
	clear:none;
	height:auto;
	margin:0 1px 0 0;
	padding:5px;
}

#nav #command_add_new {
	background: transparent url("/images/icons/plus_sign.png") left center no-repeat;
	margin:3px;
	padding:5px 5px 5px 30px;
	color:#9F0;
	font-size:14px;
}

#nav #command_add_new_list {
	background: transparent url("/images/icons/create_a_list.png") left center no-repeat;
	margin:3px;
	padding:5px 5px 5px 30px;
	color:#9F0;
	font-size:14px;	
}

#nav .command_box dl {
	padding:0;
	margin:0;
	height:auto;
	position:relative;
	float:none;
	border-right:solid 1px #333;
}

#nav .command_box dt,
#nav .command_box dd {
	padding:0 3px 0 3px;
	color:#eee;
	margin:0;
}

#nav .command_box dd.current {
	background:none;
	color:#cf0;
}

.command_box {
	padding:3px;
	font-size:13px;
	font-weight:bold;
	color:#eee;
}

h2 span.size {
	color:#999;
}

.box .preview {
	color:#666;
	font-size:16px;
	display:inline;
}

.expanded .preview {
	display:none;
}

#map_box .content {
	visibility:hidden;
	display:block;
	height:220px;
	
}

#map_box .prop {
	color:#666;
	font-size:14px;
	font-weight:normal;
	display:block;
}

#map_box {
	height:30px;
}

#map_box.expanded {
	height:280px;
}

#map_box #input_box {
	height:260px;
}

#ad_box {
	background:#FFF;
}


#tag_box {
	position:relative;
	clear:both;

}

.ellipsis span {
   white-space:nowrap;
   text-overflow:ellipsis; /* for internet explorer */
   overflow:hidden;
   width:100%;
   display:block;
}

.preview_box .ellipsis span {
	white-space:normal;
}

html>body .ellipsis {
   clear:both;
}

html>body .ellipsis span:after {
   content: "...";
}

html>body .ellipsis span {
   max-width:100%;
   width:auto !important;
   float:left;



.card {
	max-height:130px;
}

#news_box h2 {
	position:relative;
	float:left;
}

#news_box .content {
	position:relative;
	display:block;
	float:left;
	width:auto;
}

#title_box {
	background:none;
}

#title_box h1 {
	font-size:30px;
	font-weight:bold;
}

#options_box {
	min-height:0;
}

#options_box.expanded,
#title_box.expanded {
	height:auto;
}

#description_box {
	font-size:13px;
	color:#333;
}

#description_box.hover {
	color:#FFF;
}

#perspectives {
	position:relative;
	margin:5px 0 0 0;
	float:left;
}

#perspectives.expanded {
	display:block;
	height:auto;
}

#perspectives a {
	padding:0;
	z-index:123456;
	position:relative;
}

#perspective a span {
	display:none;
}

#perspectives .thumbnail {
	position:relative;
	margin:0;
	float:none;
}

#perspectives .empty_slot {
	z-index:123;
}

#perspectives .section {
	position:relative;
	float:left;
	width:275px;
	margin:0 20px 0 0;
}

#perspectives h5 {
	color:#666;
	margin:0 0 5px 0;
}


#title_box h3 a {
	padding:5px 10px 5px 0;
}

.bookmark_box {
	border:solid 3px #666;
	background:transparent url('/images/icons/bookmark.png') 0 0 no-repeat;
}
