.connections
{
	position:relative;
	clear:both;
	padding:0 0 0 0;
	text-align:left;
	width:100%;
}

#main_menu 
{
	position:relative;
	clear:both;
	padding:0 0 0 0;
	text-align:left;
	width:100%;
}

#main_menu dd
{
	position:relative;
	clear:both;
	margin:0 0 1px 0px;
	padding:3px;
	font-size:13px;
	font-weight:bold;
}

#main_menu .even
{
	background:transparent url('/images/backgrounds/connection_even.png') 0 0 repeat;
}

#main_menu .odd
{
	background:transparent url('/images/backgrounds/connection_odd.png') 0 0 repeat;
}

.content dt
{
	display:none;
}

.connections .connection
{	
	position:relative;
	clear:both;
	font-size:16px;
	font-weight:bold;
	color:#333;
	width:auto;
	cursor:pointer;
	text-align:left;
	padding:5px;
	margin:0 0 1px 0;
	min-height:30px;
}

.connections .even
{
	background:transparent url('/images/backgrounds/connection_even.png') 0 0 repeat;
}

.connections .odd
{
	background:transparent url('/images/backgrounds/connection_odd.png') 0 0 repeat;
}

.current_section .even
{
	background:transparent url('/images/backgrounds/connection_even_heavy.png') 0 0 repeat;
	border-top:solid #eee 1px;
}

.current_section .odd
{
	background:transparent url('/images/backgrounds/connection_odd_heavy.png') 0 0 repeat;
	border-top:solid #eee 1px;
}

.connections .hover
{
	/*background:transparent url('/images/backgrounds/connection_hover.png') left center no-repeat;*/
	background:#69c;
	color:#FFF;
}

.connections .hover p
{
	color:#FFF;
}

.connection .manage,
.connection .avatar,
.connection p
{
	display:none;
}

.current_section .connections p
{
	display:block;
}

.current_section .connection 
{
	padding:10px 10px 10px 10px;
}

.current_section .connection .avatar
{
	display:block;
}

.current_section .manage
{
	display:block;
}

.connections .selected
{
/*	background:transparent url('/images/backgrounds/connection_hover.png') left center no-repeat;*/
	background:#369;
}

.nuniverse .hover,
.nuniverse .selected
{
	color:#FFF;
}

.connections .connection .avatar
{
	border:none;
	position:relative;
	float:left;
	margin-right:10px;
	height:30px;
}

.nuniverse .connection .avatar img
{
	/*width:30px;*/
	height:30px;
	border:none;
}

.connections .connection h3
{
	font-family:Arial;
	margin-top:5px;
	font-size:14px;
	color:inherit;
}

.nuniverse .connection p
{
	font-size:12px;
	font-weight:normal;
	font-style:italic;
	color:#666;
}

.nuniverse .connection p a
{
	color:#69c;
}

.connections .selected p,
.connections .selected p a
{
	color:#FFF;
}


.new_connection
{
	padding:0;
	position:relative;
	clear:both;
	top:0;
	margin:0 0 2px 0px;
	font-size:16px;
	font-weight:bold;
	color:#369;
	width:auto;
	text-align:left;
	z-index:123456782;
	display:none;
}

.current_section .new_connection
{
	display:block;
}

.overview
{
	display:block;
	position:absolute;
	top:0;
	right:0;
}

.current_section .overview
{
	display:none;
}

.new_connection fieldset
{
	background:#FFF;
	border:solid #369 2px;
	display:none;	
	margin:0;
	padding:10px 10px 10px 10px;
}

.new_connection a.toggle
{
	position:absolute;
	padding:10px;
	right:0;
	font-size:14px;
	top:-35px;
	color:#FFF;
	margin:0;
}

.expanded a.toggle
{
	background:#369;
	color:#FFF;
}

.expanded fieldset
{
	display:block;
}

.new_connection label
{
	display:block;
	font-size:13px;
}

.new_connection input,
.new_connection textarea
{
	padding:10px;
	background-color:#eee;
	margin: 0 0 5px 0;
}

.new_connection textarea
{
		width:80%;
		font-size:12px;
}

.new_connection .blank
{
	color:#999;
	background-color:#FFF;
}

.manage
{
	position:relative;
	float:right;
	padding:0;
}

.connection .manage img
{
	height:15px;
}

.connection .manage a
{
	font-size:11px;
}

h3 span.source
{
	display:inline;
	color:#999;
	font-size:11px;
	font-weight:normal;
	padding:0;
	margin:0;
}

.connections .sectionr
{
	background:transparent url('/images/backgrounds/connection_odd.png') 0 0 repeat;
	text-align:center;
	font-size:11px;
	color:#69c;
	padding:5px;
}

.connections .top
{
	connection:relative;
}

.connections .bottom
{
	position:absolute;
	display:block;
	width:100%;
	bottom:0;
	z-index:123456;
}

.connections .photo
{
	position:relative;
	float:left;
	width:80px;
	clear:none;
}