img.thumbnail {
	position:relative;
	float:left;
	padding:0;
	margin:0 10px 0 0px;
	line-height:-999999px;
	height:60px;
	width:60px;
	border:solid .5em #000;
}

.suggestion .thumbnail {border-color:#000;}

img.default {
	height:60px;
	width:60px;
	background:none;
}

dd.nuniverse { font-size:16px; background:#FFF;position:relative;clear:both;float:none;padding:0;margin:.5% 0 0 0 ;height:auto;}

dd.nuniverse .tags { color:#666;font-size:0.9em;}

dd.nuniverse .actions {position:absolute;width:6%;text-align:center;top:0;right:0;padding:0 2% 0 2%;height:100%;}

dd.nuniverse .score {text-align:center;font-size:2.2em;}

dd.nuniverse .content {padding:2%;margin:0 10% 0 0;}

dd.nuniverse .rank {position:relative;float:left;font-size:2em;color:#000;}

dd.review {
	
}

dd.review .stars img {width:30px;height:30px;}

dd.review .actions {
	position:absolute;width:7%;text-align:center;top:0;left:0;padding:0;height:100%;
}