.connection {
	min-height:70px;
	padding:5px;
}

.connection .kinds {
	font-size:12px;
	color:#999;
}

.connection .tags {
	color:#669;
	font-size:13px;
}

.connection .subject a {
	color:#369;
	font-size:20px;
	font-weight:bold;
}

.image_mode .connection {
	background:#eee;
	margin:0 1px 1px 0;
}

.image_mode .connection .thumbnail {
	width:95%;
	height:auto;
	background:none;
}

.image_mode .connection .title {

}

.connection .rank_lnk {
	position:relative;
	float:right;
	top:5px;
	font-size:50px;
	color:#999;
	right:5px;
}

.connection .rank_lnk a:hover {
	background:transparent url('/images/icons/arrow_up_hover.png') top right no-repeat;
}
.connection .description {
	display:none;
}

.list_mode .connection {
	background:#dedede;
	margin: 1px 0 0px 0;
}

.list_mode .even {
	background:transparent url('/images/backgrounds/even.png') 0 0 repeat;
}

.list_mode .odd {
	background:transparent url('/images/backgrounds/odd.png') 0 0 repeat;
}

.list_mode .connection .description {
	display:block;
	color:#666;
	font-size:12px;
}

.connection .preview {
/*	padding:0 20px 20px 20px;*/
	padding:0;
	display:none;
}

.comment_connection {
	
}

.comment_connection div.user {
	background:transparent url('/images/backgrounds/comment_from.png') 0 0 no-repeat;
}

.comment_connection .user .thumbnail {
	height:30px;
	background:none;
	top:20px;
}

.connection .tag_url {
	font-size:11px;
	color:#999;
	display:none;
}

#preview_box .tag_url {
	font-size:12px;
}

#digest .connection a {
	color:#369;
}

.bookmark_connection .tag_url {
	display:inline;
}

.tweet_connection .thumbnail,
.bookmark_connection .thumbnail,
.comment_connection .thumbnail {
	height:30px;
	width:30px;
	background:none;
	margin:0 0 0 0;
}

.tweet_connection .title,
.comment_connection .title {
	font-size:14px;
	font-weight:normal;
	font-style:italic;
}

#preview_box .image_connection {
	display:none;
}

.image_kind .preview {
	padding:0;
}

.edit_connection .connection .thumbnail {
	height:30px;
}