body {
/*	background:#efefef url('/images/backgrounds/main-blue-2.png') 0 -500px repeat-x;*/
	background:#FFF url('/images/backgrounds/main-grey-med.png') 0 0px repeat-x;
}

.section {
/*	background:#fff url('/images/backgrounds/main_light.png') 0 -400px repeat-x !important;*/
/*	background:none !important;*/
}

.section {
/*		background:none !important;*/
}

.section .odd {
	background:none;
}

.section .even {
	background:none;
}

.connection  a {
	color:#369;
}

.connection p {
	color:#333;
}

.connection p b {
	color:#333;
}

.hover .title {
	color:#333;
}


.story-section {
/*	background:#9cf !important;*/
	background:none !important;
}

.group-section {
	background:#FFF;
}

.nuniverse-section {
	background:none !important;
/*	background:#9cf !important;*/
}

.main-section .selected,
.group-section .selected {
	background:transparent url('/images/backgrounds/story-select.png') center right no-repeat !important;
}

.main-section {
	background:none !important;
}


.ntheme-default {
	border:#333 solid 3px;color:#000;background:#FFF;
}

.ntheme-black-and-blue {
	border:#000 solid 3px;color:#FFF;background:#000;
}

.ntheme-black-and-blue .header {
	color:#FFF;background:#000;
}



.ntheme-pan-seared {
	background:#FFF url('/images/backgrounds/main_light.png') 0 0px repeat-x; color:#333;
}

.ntheme-cristal-clear {
	border:transparent solid 3px;background:none;color:#333;
}
.ntheme-cristal-clear .header {
	background:none;color:#333;
}


/*#nuniverse {
	position:relative;
	margin:0 80px;
	left:0;
	padding:0;
	width:auto;
	
}
#nuniverse .wrap {
	position:relative;
	padding:0;
	width:auto;	
}*/

#nuniverse .facts {
	padding:0;
}


.connections dd {
	position:relative;
/*	float:left;*/
		width:auto;
		min-width:200px;
		width:46%;
	min-width:300px;
	padding:0 50px 0 0;
/*	margin:0 3px 3px 0 !important;*/
/*	*/
/*	min-height:100px !important;*/
	font-size:20px;
	width:auto !important;
	display:block;
	
/*	background:#FFF !important;*/
}

.connections dd p {
	font-size:15px;
}

.facts dd.hover {
/*	background:#FFF !important;*/
}

.fact .tag {
	font-weight:bold;
	font-size:16px;
	color:#000;
}


