/*body {
	background:#efefef url('/images/backgrounds/main.png') 0 0 repeat-x;
}

.box {
	background:none ;
}

.box h2 {
	color:#ccc;
}

.items {
	background:#333;
}

.items .even {
	background:#efefef;
}

.items .odd {
	background:#dddddd;
}

#right_column .box {
	background:#333;
}
#right_column .box a {
	color:#cf9;
}

p {
	color:#eee;
}

.tabs {
	padding: 5px 5px 5px 0;
}

.nuniverse .tabs li {
	background:#eee;
}

.tabs li a {
	color:#666;
}

.nuniverse .tabs .current {
	background:#333;
	color:#FFF;
}

#google_ads {
	background:#FFF;
}*/