/*


.box {
	background:#333 ;
}

.box h2 {
	color:#999;
}

.items {
	background:#333;
}

.items .even {
	background:#efefef;
}

.items .odd {
	background:#ddd;
}


.box a {
	color:#cf9;
}

.box .item a {
	color:#333;
}

p {
	color:#eee;
}

.tabs {
	padding: 5px 5px 5px 0;
}

.nuniverse .tabs li {
	background:#eee;
}

.tabs li a {
	color:#666;
}

.nuniverse .tabs .current {
	background:#333;
	color:#FFF;
}

#google_ads {
	background:#FFF;
}

*/



#google_ads {
	background:#fff;
}