*
{
	font-family:Myriad Pro, Arial, sans-serif;
	padding:0;
	margin:0;
	border:none;
	color:#333;
	background:none;
	text-decoration:none;
}

h1
{
	
}

h2
{
	
}

h3
{
	
}

h4
{
	
}

h5
{
	
}

h6
{
	
}


a,
a:visited
{
	
}

a:hover
{
	text-decoration:underline;
}