*
{
	font-family:Arial, sans-serif;
	padding:0;
	margin:0;
	border:none;
	color:inherit;
	background:none;
	text-decoration:none;
	outline:0;
}

h1
{
	font-family:Times;
}

h2
{
	
}

h3
{
	font-family:arial;
}

h4
{
	
}

h5
{
	
}

h6
{
	
}

p
{
	font-size:14px;
}


a,
a:visited
{
	font-family:arial;
}

p a
{

}

a:hover
{
	text-decoration:underline;
}

input
{
	padding:10px;
	background:#FFF;
	border:solid #cc 1px;
}

.hidden
{
	display:none;
}