.tabs {
	position:relative;
	display:block;
	width:auto;	
	list-style-type:none;
	padding:0;
	font-size:13px;
	margin:10px 0 0 0;
}

.tabs .tab {

	padding:0;
	margin: 0 5px 0 0;
	font-size:13px;
	font-weight:bold;
	color:#999;
}


.expanded dd {
	display:block;
}

.tabs .current {
	border-bottom:none;
	font-weight:bold;
	color:#333;
}

.tabs dd img {
	position:relative;
	float:left;
}


#display_options {
	position:absolute;
	right:5px;
	top:10px;
}