.box .tabs {
	position:relative;
	display:block;
	width:100%;

	list-style-type:none;
	padding:0;
}

.box .tabs li {
	position:relative;
	float:left;
	top:0;
	padding:10px;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	border-left:none;
	background:#333;
	margin:0 0 0 0;
}

.box .tabs li a {
	color:#999;
	background:none;
	padding:0;
}

.box .tabs .current {
	border-bottom:none;
	background:#FFF;
}

#view_options {
	padding:0;
	position:absolute;
	right:0;
	background:none;
	z-index:1234567890;
}

#view_options li {
	background:none;
	float:right;
	margin:0;
	padding:3px;
}

