#sorting-options {
	position:relative;
	float:left;
	width:auto;	
	list-style-type:none;
	padding:5px 0 0 0px;
	font-size:13px;
	margin:0 0 0 0;
	color:#666;
}

#sorting-options .tab {
	padding:0;
	margin: 0 5px 0 0;
	font-size:13px;
	font-weight:bold;
}

#sorting-options .current {
	color:#333;
}

#list_menu  {
	background:#eee;
}

#list_menu a {
	color:#999;
}

#list_menu .current {
	border-bottom:none;
	font-weight:bold;
	color:#333;
}

.tabs dd img {
	position:relative;
	float:left;
}


#display_options {
	position:absolute;
	right:5px;
	top:10px;
}

#content .pagination {
	position:relative;
	float:right;
	width:200px;
	padding:5px;
	margin:0;
	
	text-align:right;
	z-index:456789;
	font-size:14px;
}

.pagination .current {
	font-size:14px;
}


#breadcrumbs {
	position:relative;

	left:0;
	width:100%;
	padding:0;
	height:50px;
	background:#000;
	color:#FFF;
}

#breadcrumbs li {
	padding:12px ;
	position:relative;
	float:left;
	font-size:15px;
	font-weight:normal;
	color:#FFF;
	display:block;
	background:none;
}

#breadcrumbs li a {
	font-weight:normal;	
/*	font-weight:bold;*/
	font-size:16px;
}

#breadcrumbs li.selected {
	background:#333;
	color:#333 !important;
	position:absolute;
	width:70px;
	height:25px;
}


#sub-menu {
	position:fixed;
	bottom:40px;
	height:30px;
	background:#333;
	width:100%;
	z-index:9999;
	display:block;
	border-left:solid 1px #eee;
}


.sub-menu {
	position:relative;

	display:none;
}

#sub-menu .sub-menu {
	display:block;
}


.sub-menu li {
	padding:8px 20px 8px 20px;
	position:relative;
	float:left;
	font-size:14px;
	font-weight:bold;
	color:#666;
	display:block;
}

.sub-menu li.selected {
	background:#eee;
	color:#eee;
	
}
