#input_wrap h1 {
	font-size:25px;
	color:#000;
}


#image_url_uploaded_data {
	-moz-opacity:0 ;
	filter:alpha(opacity: 0.0);
	opacity: 0;
	z-index: 2;
	cursor:pointer;
	position:absolute;
	top:0;
	left:340px;
	width:300px;
	padding:0;
	font-size:20px;
}


textarea {
	background:#fff;
}


.submenu form {
	display:none;
}

form.expanded  {
	display:block;
}

#main_menu .suggestions {
	padding:0;
	display:block;
}

	
	#input_form {
		position:relative;
		background:#000;
		width:100%;
		padding:0;
		height:80px;
		display:none;
		overflow:hidden;
		border:solid 2px #000;
	}

	#input_form fieldset {
		clear:both;
		position:relative;
		padding:10px;
		display:block;
		width:100%;
		height:100%;
		background:#FFF url('/images/backgrounds/input-bg.png') 0 0 repeat-x;
	}

	#input_value {
		position:relative;
		float:left;
		margin:0 8% 0 0;
		color:#333;
		background:none;
		font-weight:bold;
		width:60%;
		font-size:1.8em;
		border:none;
		height:auto;
		min-height:auto;
		padding:5px;
	}
	
	#upload_button {
		position:relative;float:right;width:10%;top:-10px;background:#09c;color:#FFF;font-size:1.5em;font-weight:bold;height:100%;padding:0;text-align:center;
	}

	#input_order {

		font-weight:bold;
		text-align:left;
		background:#f90;
		display:inline;
		border:none;
		display:none;
		padding:10px;
		margin:0;
		size:auto;
	/*	color:#f90;*/
	/*	background:#FFF;*/

	}
	
	#input_uploaded_data {
		position:absolute;
		top:0;
		right:0;
		-moz-opacity:0;
		filter:alpha(opacity: 0);
		opacity: 0;
		z-index: 2;
		height:100%;
		width:10%;
	}

	#input_submit {
		position:relative;
		float:right;
		right:0;
		top:-10px;
		background:#000;
		border:none;
		color:#FFF;
		width:10%;
		padding:0;
		text-align:center;
		height:100%;
		font-size:24px;
		font-weight:bold;
		cursor:pointer;
		z-index:9999;
		background:#0CF;
	}

fieldset {
	display:none;
}

.expanded {
	display:block;
}

#suggestions .suggestion 
.suggestions .suggestion {
	display:block;
	padding:0;
	margin:0 0 1px 0;
	font-size:15px;
}

.suggestions .even {
	background:transparent url('/images/backgrounds/even.png');
}

.suggestions .odd {
	background:transparent url('/images/backgrounds/odd.png');
}

.suggestions .thumbnail, 
.suggestions .default_img {
	background:none;
	position:relative;
	float:left;
	height:30px;
	width:30px;
	margin: 0 0 0 0;
}


#suggestions .title {
	font-size:14px;
	font-weight:bold;
	color:#FFF;
}



.button {
	padding:14px;
	border:solid 1px #999;
	background:#FFF;
	text-align:center;
	font-weight:bold;
}


.action {
	clear:both;
}

.action .icon {
	height:40px;
	width:40px;
	background:none;
	position:relative;
	float:left;
	border:none;
}

.connect_form {
	position:relative;
	padding:0;
	width:100%;
	
}

.connect_form form {
	display:block;
	padding:0;
}


.connect_form h2 {
	color:#FFF;
}

#search_form {
	clear:both;

	height:45px;
	width:auto;
	position:relative;
	visibility:visible;
	padding:0;
	margin:0 0 0 0;
	z-index:12345678;
}

#search-input {background:#333;width:95% ;margin:0;font-size:16px;line-height:1.5em;margin:1% 0 0 0;color:#FFF;}

#visit_form {
	padding:10px;
	background:#333;
	top:20px;
	right:00px;
	position:absolute;
	width:500px;

}


#input-visit {
/*	background:#FFF url('/images/backgrounds/input_visit.png') 0 0 no-repeat;*/
	width:400px;
}

#input_filter {
	background:#FFF url('/images/backgrounds/input_filter.png') 0 0 no-repeat;
}

#input_image {
	background:#FFF url('/images/backgrounds/input_image.png') 0 0 no-repeat;
	width:500px;
}

#input_upload {
	background:#FFF url('/images/backgrounds/input_image.png') 0 0 no-repeat;
	width:500px;
}

#input_new_tag {
	background:#FFF url('/images/backgrounds/input_new_tag.png') 0 0 no-repeat;
	width:250px;
}

#input_connect {
	background:#FFF url('/images/backgrounds/input_connect.png') 0 0 no-repeat;
	width:600px;
}

#input_bookmark {
	background:#FFF url('/images/backgrounds/input_bookmark.png') 0 0 no-repeat;
	width:550px;
}

#input_location {
	background:#FFF url('/images/backgrounds/input_location.png') 0 0 no-repeat;
	width:550px;
}
#input_email {
	background:#FFF url('/images/backgrounds/input_email.png') 0 0 no-repeat;
	width:700px;	
}

#input_visit.filled,
#input_filter.filled,
#input_image.filled,
#input_new_tag.filled,
#input_connect.filled,
#input_bookmark.filled,
#input_email.filled,
#input_location.filled,
input.filled {
	background:#FFF;
}



.toggle {
	display:block;
	font-size:20px;
	font-weight:bold;
	margin:10px 0 0 0;
	color:#369;
	
}

.images img{
	height:50px;
	width:auto;
}

dl.table {
	width:100%;
}

dl.table dt {
	clear:both;
}




dl.table dd {
	clear:both;
	margin:0 0 4px 0;
	padding:0;
}

dl.table .thumbnail {
	background:none;
	height:60px;
	width:60px;
	padding:0;
	
}

dl.table ul {
	padding:0;
}

dl.table li {
	position:relative;

	padding:0;
	margin:0 2px 0 0;
	text-align:center;
}

dl.table dt li {
	width:200px;
}

dl.table dt li.img {
	width:60px;
}


li input {
	height:auto;
	width:200px;
	padding:3px;
	margin:0 4px 4px 0;
	border:1px solid #999;
	color:#333;
}

label {
	color:#333;
	font-size:20px;
	display:block;
}

select {
	background:#FFF;
	padding:5px 5px 5px 5px;
	font-size:14px;
	min-width:200px;
}

li {
	font-weight:bold;
	color:#666;
	background:none;
}


#login label {
	font-size:1em;
	color:#eee;
	padding:0;
}

#login-box {background:url('/images/backgrounds/signup.png') 0 0 no-repeat;width:90%;padding:20% 5%;margin:0%;text-align:center;display:block !important;}

#login-form .empty {color:#ccc;}

#login-form label {display:none;}

#signup_form label {color:#000;font-size:1.3em;margin:0 0 .3em 0}

#signup_form input {
	border:solid #333 3px;
	font-size:1.6em;font-weight:bold;
	padding:.5em;margin:0 auto 1.5em 30%;
	background:#FFF url('/images/backgrounds/input-bg.png') 0 0 repeat-x;
	width:38%;
	position:relative;
	float:left;
}

#signup_form .signal { height:30px;background:#FFF;color:#FFF;font-weight:bold;padding:.5em;width:auto;position:relative;float:left;font-size:2em;}