#input_wrap h1 {
	font-size:25px;
	color:#000;
}


#image_url_uploaded_data {
	-moz-opacity:0 ;
	filter:alpha(opacity: 0.0);
	opacity: 0;
	z-index: 2;
	cursor:pointer;
	position:absolute;
	top:0;
	left:340px;
	width:300px;
	padding:0;
	font-size:20px;
}


textarea {
	background:#fff;
}


.submenu form {
	display:none;
}

form.expanded  {
	display:block;
}

#main_menu .suggestions {
	padding:0;
	display:block;
}

fieldset {
	display:none;
}

.expanded {
	display:block;
}

.suggestions .suggestion {
	display:block;
	padding:0;
	margin:0 0 1px 0;
	font-size:15px;
}

.suggestions .even {
	background:transparent url('/images/backgrounds/even.png');
}

.suggestions .odd {
	background:transparent url('/images/backgrounds/odd.png');
}

.suggestions .thumbnail, 
.suggestions .default_img {
	background:none;
	height:30px;
	width:30px;
	margin: 0 0 0 0;
}

.suggestions .kinds {
	font-size:12px;
	color:#eee;
}

.suggestions .title {
	font-size:14px;
	font-weight:bold;
	color:#FFF;
}



.button {
	padding:14px;
	border:solid 1px #999;
	background:#FFF;
	text-align:center;
	font-weight:bold;
}


.action {
	clear:both;
}

.action .icon {
	height:40px;
	width:40px;
	background:none;
	position:relative;
	float:left;
	border:none;
}

.connect_form {
	position:relative;
	padding:0;
	width:100%;
	
}

.connect_form form {
	display:block;
	padding:0;
}

.connect_form label {
	color:#FFF;
}

.connect_form h2 {
	color:#FFF;
}

#search_form {
	clear:both;

	height:45px;
	width:auto;
	position:relative;
	visibility:visible;
	padding:0;
	margin:0 0 0 0;
	z-index:12345678;
}

#visit_form {
	padding:10px;
	background:#333;
	top:1px;
}

#input_visit {
	background:#FFF url('/images/backgrounds/input_visit.png') 0 0 no-repeat;
	width:500px;
}

#input_filter {
	background:#FFF url('/images/backgrounds/input_filter.png') 0 0 no-repeat;
}

#input_image {
	background:#FFF url('/images/backgrounds/input_image.png') 0 0 no-repeat;
	width:500px;
}

#input_upload {
	background:#FFF url('/images/backgrounds/input_image.png') 0 0 no-repeat;
	width:500px;
}

#input_new_tag {
	background:#FFF url('/images/backgrounds/input_new_tag.png') 0 0 no-repeat;
	width:250px;
}

#input_connect {
	background:#FFF url('/images/backgrounds/input_connect.png') 0 0 no-repeat;
	width:600px;
}

#input_bookmark {
	background:#FFF url('/images/backgrounds/input_bookmark.png') 0 0 no-repeat;
	width:550px;
}

#input_location {
	background:#FFF url('/images/backgrounds/input_location.png') 0 0 no-repeat;
	width:550px;
}
#input_email {
	background:#FFF url('/images/backgrounds/input_email.png') 0 0 no-repeat;
	width:700px;	
}

#input_visit.filled,
#input_filter.filled,
#input_image.filled,
#input_new_tag.filled,
#input_connect.filled,
#input_bookmark.filled,
#input_email.filled,
#input_location.filled,
input.filled {
	background:#FFF;
}

.tags {
	margin:10px 0 0 0;
}

.tags a.tag {
	position:relative;
	float:left;
	width:auto;
	padding:5px 40px 5px 10px;
	font-weight:bold;
	font-size:20px;
	margin:0 1px 1px 0; 
	font-size:14px;
	color:#FFF;
	background:#eeeeef url('/images/backgrounds/tag_selected.png') center right no-repeat;
}

.tags a:visited {
	color:#FFF;
}

.tags .selected {
/*	background:#eeeeef url('/images/backgrounds/tag_selected.png') center right no-repeat;*/
}

.toggle {
	display:block;
	font-size:20px;
	font-weight:bold;
	margin:10px 0 0 0;
	color:#369;
	
}

.images img{
	height:50px;
	width:auto;
}