#input_box {
	border:none;
	position:fixed;
	bottom:0px;
	padding:0;
	margin:0 0 0 0;
	background:#333;
	width:90%;
	z-index:1234567890123;
	border:solid #ccc 1px;
	border-bottom:nones;
}

#input_box fieldset {
	border:none;
	position:relative;
	padding:5px;
}

#input_box input {
	background:none;
	border:none;
	font-size:30px;
	font-weight:normal;
	color:#FFF;
	width:97%;
	margin: 0 0 0 0;
	padding:5px 0 5px 0;
}

#input_box textarea {
}

#input_box #command {
	background:none;
	border:none;
	color:#9F0;
	padding:0;
	margin:0;
}

#input_info {
	position:absolute;
	right:0;
	top:0;
	color:#9F9;
	padding:5px;
}

#extra_input {
	background:none;
	font-size:20px;
	color:#FFF;
	padding:5px;
	line-height:20px;
	width:97%;
	height:auto;
	margin:0 0 5px 0;
}

#suggestions {
	display:block;
	color:#eee;
	padding:5px;
	margin-bottom:10px;
}

#file_field {
	position:relative;
	clear:both;
	cursor:pointer;
}

#input_box label {
	display:block;
	font-weight:normal;
	font-size:22px;
	line-height:20px;
	color:#999;
	margin:0;
}

#image_url_uploaded_data {
	-moz-opacity:0 ;
	filter:alpha(opacity: 0.0);
	opacity: 0;
	z-index: 2;
	cursor:pointer;
	position:absolute;
	top:0;
	left:340px;
	width:300px;
	padding:0;
	font-size:20px;
}

#input_box a.close {
	padding:0;
	line-height:16px;
	color:#666;
	font-size:20px;
	font-weight:bold;
	position:absolute;
	right:6px;
	cursor:pointer;
	z-index:123456789;
	top:3px;
}