.list .connection h3 {
	padding:10px 30px 0 10px;
	z-index:12345;
	font-size:16px;
	color:#6C9;
}

.list .connection p {
	font-size:11px;
	color:#888;
}

.list .hover p {
	color:#ccc;
}

/* ITEM */
.box .connection {
	position:relative;
	clear:both;
	margin:0 0 1px 0;
	overflow:hidden;
	padding:0;
	background:none;
}

.thumbnail {
	position:relative;
	float:left;
	padding:0;
	margin:0 5px 0 0;
	height:30px;
	width:30px;
	line-height:-999999px;
	height:40px;
	width:40px;
	background:transparent url("/images/backgrounds/icon.png") 0 0 no-repeat;
	padding:4px 6px 6px 4px;
}

.personal .thumbnail {
	background:transparent url("/images/backgrounds/icon_personal.png") 0 0 no-repeat;
}

.private .thumbnail {
	background:transparent url("/images/backgrounds/icon_private.png") 0 0 no-repeat;
}

.box .connections .connection .options {
	position:absolute;
	top:5px;
	right:5px;
	z-index:1234567890;
	background:none;
}

#content .box h2 a.link_to_list {
	font-size:24px;
}

#content .box h3 {
	position:relative;
	padding:5px 5px 0 5px;
}

#content .box h3 a,
#content .box h3 a:visited
 {
	color:#666;
	font-size:16px;
	font-weight:bold;
	line-height:20px;
}

span.unique_item {
	display:block;
}

span.unique_item a,
span.unique_item a:visited {
	color:#666;
	font-size:14px;
}

.box .connections .connection .icon {
	height:20px;
}

.box .connection .sort_actions {
	position:relative;
	float:left;
	margin-right:5px;
	width:20px;
	height:20px;
}

.connection .sort_actions a {
	display:block;
}

.connections .hover {
/*	background:#eee;*/
	color:#FFF;
}

.hover .connection h3 {
	color:#ccc;
}

.box .hover h3 a {
	color:#9F0 !important;
}

.expanded .unique_item {
	display:none;
}

.#content .list .connection {
	min-height:50px;
	background:#FFF;
	margin:0 0 3px 0;
	border-bottom:dashed 1px #999;
}


.list .list .connection .thumbnail {
	height:50px;
}

#content .list .connection h3 {
	line-height:14px;
	font-size:14px;
	padding:0;
	margin:3px 0 0 0;
}

#content .list .connection h3 a,
#content .list .connection h3 a:visited {
	font-weight:inherit;
	font-size:inherit;
	line-height:inherit;
}

img.icon {
	background:#FFF url("/images/backgrounds/icon_bg.png") 0 0 no-repeat;
	padding:3px;
	margin:0 3px 0 0;
	width:28px;
	height:28px;
	
}