dl.facts {
	padding:10px 0 0 0;
	clear:both;
	width:800px;
	margin:auto;
}

dl.facts dd {
	margin:0 0 3px 0;
	padding:20px;
	background:#FFF;
	font-size:20px;
	font-weight:normal;
	color:#333;
	white-space:normal;
}

dl.facts dd a,
dl.facts dd a:visited {
	color:inherit;
	font-weight:normal;
}

dl.facts dd a.category {
	font-weight:bold;
}

dl.facts dd.hover {
	background:#FFF;
/*	background:transparent url('/images/backgrounds/arrow-select.png') center right no-repeat;*/
	color:#333;
}