dl.connections {
	padding:0 0 0 0;
	clear:both;
	width:100%;
	margin:0 auto;
}

dl.connections dd {
	margin:0 0 2px 0;
	padding:20px;
/*	background:#FFF url('/images/icons/arrow_select.png') center right no-repeat;*/
	background:#FFF;
	font-size:20px;
	font-weight:normal;
	color:#333;
	white-space:normal;
	
}

dl.connections dd a,
dl.connections dd a:visited {
	color:inherit;
	font-weight:normal;
	
}



dl.connections dd a.category {
	font-weight:bold;
}

dl.connections dd.hover {
/*	background:#FFF;*/
/*	background:transparent url('/images/backgrounds/arrow-select.png') center right no-repeat;*/
	color:#333;
}

dl.connections dd .tag a, 
dl.connections dd .tag a:visited {
	font-weight:bold;
	color:#369;
}

dl.connections dd.activated {
	background-color:#eee !important;
}

dl.connections dd.activated .expand-lnk {
	display:none;
}