#list.box {
	position:relative;
	margin:0 0 0 0px;
	padding:0;
	clear:none;
	border:none;
	background:none;
}

.menu {
	background:#FFF;
	height:40px;
	margin:0 0 0 1px;
}

#list .items .hover {
	background:#666;
}

#list .hover h3 {
	color:#FFF;
}

.list .pagination {
	visibility:hidden;
}

.hover .pagination {
	visibility:visible;
}

#list .pagination {
	position:relative;
	float:left;
	padding:10px;
	display:block;
}

#list .pagination a {
	color:#999;
}

#list .pagination .current {
	color:#666;
}

#list.box .items {
	width:auto;
	display:block;
	padding:0;
	margin:0 0 0px 1px;
	overflow:hidden;
	background:none;
/*	background:#ccc url("/images/backgrounds/box.png") 0 0 repeat-x;*/
}

#list .item {
	position:relative;
	padding:0;
	margin:0;
	display:block;
	width:100%;
	min-height:60px;
	background:#ccc url("/images/backgrounds/box.png") 0 0 repeat-x;
	margin: 0 0 1px 0;	
	
/*	border-bottom:dashed 1px #fff;*/
}

#list .items .even {
	
}

#list .item .thumbnail,
#list .box .thumbnail {
	position:relative;
	float:left;
	height:40px;
	width:40px;
	background:transparent url("/images/backgrounds/icon.png") 0 0 no-repeat;
	padding:4px 6px 6px 4px;
	margin:8px;
	z-index:123456789;
}

#list .box .thumbnail {
	margin:0 5px 0 0;
}

.list .item h3 {
	padding:10px 30px 0 10px;
	z-index:12345678;
}

#list .item h3 {
	font-size:16px;
	font-weight:bold;
	line-height:1em;
	color:#666;
	padding:10px 20px 0 10px;
	
}

#list .item h3 a {
	font-weight:inherit;
	color:inherit;
}

.list .item p {
	font-size:12px;
	color:#888;
	display:none;
}

#list .item p {
	display:block;
	
	padding:0 50px 0 0;
}

#list .hover h3 {
	color:#fff;
}

.list .hover p {
	color:#ccc;
}

#list .box h2 a,
#list .box h3 a {
	font-size:16px;
	font-weight:bold;
}

#list .column {
	width:25%;
	margin:0 0px 0 0;
}

#list .box {
	height:200px;
	overflow:hidden;
	margin:0 0 1px 1px;
}

#list .image_box {
	height:auto;
}


.box .votes {
	position:absolute;
	right:10px;
	bottom:10px;
	color:#C0C0C0;
	font-size:20px;
	font-weight:bold;
}

.box .votes img {
	width:30px;
	height:30px;
}


#list .item .votes {
/*	background:#fff;*/
	position:absolute;
	top:0;
	right:0;
	height:100%;
	margin:0;
	padding:10px 20px;
	font-size:30px;
	color:#ccc;
	z-index:1;
	text-align:right;
}

#list .votes img {
	width:40px;
	height:40px;
}

#list .hover .ranking {
	background:#333;
}

.list .options {
	display:none;
}

#list .options {
	display:block;
}