.nuniverse
{
	position:relative;
	padding:20px 40px 20px 40px;
	color:#333;
	font-weight:normal;
	z-index:123;
}

.nuniverse .body
{
	position:relative;
	clear:both;
	margin:0 0 0 0;
	padding:0;
}

.nuniverse .hat {
	position:relative;
	margin:0 0 0 0;
	padding: 0 0 2px 0;
}

.nuniverse h1 {
	font-size:45px;
	font-weight:normal;
	color:#4f4f4f;
	margin:0 0 0 0;
}

.nuniverse h2 a {
	font-size:30px;
	color:#999;
}

.nuniverse h3 a {
	color:#999;
	font-size:22px;
}

.nuniverse h4 {
	
}

.nuniverse .selected {
	height:100px;
}

#breadcrumbs {
	position:relative;
	float:left;
	padding:5px;
	margin:0 0 0 0px;
	background:none;

	z-index:1234567890123;
}

#breadcrumbs a {
	padding:0;
	font-size:16px;
	font-weight:bold;
	color:#FFF;
}


.nuniverse .item p {
	font-size:12px;
	padding:0 0 0 0;
	margin:0 0 5px 0;
}

.nuniverse p a {
	color:#666;
}

.nuniverse .service {
	color:#999;
}

.nuniverse .kind {
	font-size:14px;
}

.nuniverse .right {
	position:relative;
	clear:both;
	width:800px;
}

.nuniverse h1 .avatar {
/*	border:solid 1px #333;*/
	height:30px;
	width:30px;
	padding:15px 0 0 0;
	position:relative;
	float:left;
	margin-right:3px;
}

.list_button {
	border:none;
	display:inline;
}

.list_button img {
	border:none;
	width:auto;
	height:auto;
}

.maps .items {
	position:relative;
	float:left;
	width:400px;
}

.column {
	position:relative;
	float:left;
	width:auto;
	margin:0 0 0 0;
}

/*.menu {
	display:block;
	position:relative;
	width:100%;
	background:#eee;
}*/

#nuniverse .small { width:25%;}
#nuniverse .medium { width:50%;}
#nuniverse .large {width:75%;}
#nuniverse .xlarge {width:100%;}

#contributors ul {
	list-style-type:none;
}

p strong {
	font-weight:bold;
}

#profile {
	position:relative;
}

#profile h2 {
	font-size:20px;
}

#profile .kind {
	font-size:12px;
	color:#666;
}

#profile p {
	font-size:13px;
	color:#333;
}

#bookmarks {
	
}

.images .box .avatar {
	width:100%;
}

#page-tabs {
	position:relative;
	float:right;
}

#nav {
	position:relative;
	clear:both;
	width:auto;
	min-height:30px;
	z-index:123456789;
	background:#666;
	margin:0 0 5px 1px;
	padding:0 0 5px 0;
}

#content {
	position:relative;
	float:none;
	width:auto;
	margin:0 0 0 0px;
	padding:0;
	z-index:123;
}


#left-content {
	position:relative;
}

a.save_button {
	display:block;
}

a.saved {
	opacity:.3;
}

#control_panel {
	position:fixed;
	top:0;
	right:20px;
	background:none;
	padding:0;
	z-index:456789;
	
}

#control_panel dd
{
	position:relative;
	float:left;
	padding:10px 10px 10px 10px;
	margin:0 0 0 0;
	color:#FFF;
	background:none;

}

#control_panel dd a,
#control_panel dd a:visited {
	font-size:12px;
	font-weight:bold;
	line-height:14px;
	color:#666;
}

#control_panel .selected 
{
	background:#333;
	color:#FFF;
	border-bottom:none;
}

#private_button {
	background:#82529b;
}

#personal_button {
	background:#9c6;
}

#public_button {
	background:#ccc;
}

#title_box {
	height:auto;
	padding:0;
	margin:0;
	position:relative;
	clear:both;
}


.slots {
	background:#fff;
	height:165px;
	width:495px;
	background:transparent url('/images/backgrounds/empty_perspective.png') 0 0 repeat;
	
}

.trashable {
	background:transparent url('/images/icons/discard.png') 0 0 no-repeat ;
}

.trashable img {
	visibility:hidden;
}

.dialogue {
	color:#666;

}

.dialogue p {
	font-size:18px;
}

.dialogue a,
.dialogue p a {
	color:#396;
}

.dialogue h3 {
	font-weight:bold;
	padding:5px 0 20px 0;
}

.tag_cloud a {
	color:#999;
	margin:0 3px 0 0;
}

.tag_cloud .connection-tag {
	color:#669;
}

.tag_cloud a.selected {
	color:#333;
}


.form_box .step {
	display:none;
}

.form_box .activated, 
.form_box .current {
	display:block;
}

.form_box .step .content{
	display:none;
	margin:5px 10px 5px 30px;
}

.form_box .current .content {
	display:block;
}

.form_box .step h2 {
	display:none;
}

.form_box .activated h2 {
	font-size:14px;
	color:#666;
	display:block;
}

.form_box .current h2 {
	font-size:25px;
	color:#333;
	display:block;
}


#main_menu {
	position:relative;
	clear:left;
	background:url('/images/backgrounds/main_menu.png') 0 0 repeat-x;
	margin:10px 0 0px 0;
}

#main_menu dt {
	height:0;
	padding:0;
	margin:0;
}

#main_menu dd img {
	width:40px;
}

#main_menu dd {
	position:relative;
	float:left;
	padding:5px;
	color:#FFF;
	text-align:center;
}

#main_menu .activated {
	background:#27406a;
}

#main_menu .count {
	position:absolute;
	top:40px;
	left:0;

	width:50px;
	height:30px;
	font-size:12px;
	font-weight:bold;
/*	background:transparent url('/images/backgrounds/count.png') 0 0 no-repeat;*/
	color:#eee;
	text-align:center;
}

#main_menu .suggestions .connection {
	position:relative;
	float:left;
	width:23%;
}

#main_menu #show_digest .count {
	display:none;
}
#sub_menu {
	padding:10px 10px 5px 10px;
	background:#27406a;
	position:relative;
	clear:left;
	color:#568;
}

#sub_menu h3 {
	color:#ddd;
	font-size:16px;
}

#sub_menu h3 a {
	color:#39F;
	font-size:16px;
	font-weight:bold;
}


