.nuniverse
{
	position:relative;
	padding:30px 20px 20px 20px;

	color:#333;
	font-weight:normal;
}

.nuniverse .body
{
	position:relative;
	clear:both;
	margin:0 0 0 0;
	padding:0;
}

.nuniverse .hat {
	position:relative;
	margin:0 0 10px 0;
	padding: 0 0 10px 0;
}

.nuniverse h1 {
	font-size:45px;
	font-weight:normal;
	color:#4f4f4f;
	margin:0 0 0 0;
}

.nuniverse h2 {
	font-size:30px;
	color:#999;
}

.nuniverse h3 {
	
}

.nuniverse h4 {
	
}

#input_box {
	border:none;
	position:fixed;
	bottom:0px;
	padding:5px;
	margin:0 370px 0 0;
	background:#333;
	width:auto;
	width:780px;
}

#input_box fieldset {
	border:none;
}

#input_box input {
	background:none;
	border:none;
/*	border-bottom:solid 1px #666;*/
	font-size:30px;
	font-weight:normal;
	color:#FFF;
	width:100%;
	margin: 5px 0 0 0;
	padding:1px 1px 3px 1px;
}


.nuniverse .selected {
	height:100px;
}

.nuniverse .breadcrumbs a {
	padding:5px;
	color:#666;
}

.nuniverse .item p {
	font-size:13px;
	padding:0 0 0 0;
	margin:0 0 5px 0;
}

.nuniverse p a {
	color:#666;
}

.nuniverse .service {
	color:#999;
}

.nuniverse .kind {
	font-size:14px;
}

.nuniverse .right {
	position:relative;
	clear:both;
	width:800px;
}

.nuniverse h1 .avatar {
/*	border:solid 1px #333;*/
	height:30px;
	width:30px;
	padding:15px 0 0 0;
	position:relative;
	float:left;
	margin-right:3px;
}


.list_button {
	border:none;
	display:inline;
}

.list_button img {
	border:none;
	width:auto;
	height:auto;
}

.maps .items {
	position:relative;
	float:left;
	width:400px;
}

.box {
	position:relative;
/*	border:solid #eee 5px;*/
	clear:none;
	border:none;
	padding:10px;
	margin:0 0 5px 0;
	width:auto;
	background:#eee;
}

#left_column .box {
	background:none;
}

#right_column .box a {
	color:#6c3;
}

#left_column {
	position:relative;
	margin:0 380px 0 0;
}

#left_column .box {
	padding:0;
}

#left_column .box h2 {
	padding:5px;
}

#area {
	position:relative;
}

#nuniverse .column {
	position:relative;
	float:left;
	width:23%;
	margin:0 5px 0 0;
}

#nuniverse .column .box {
	position:relative;
	width:auto;
	margin:0 0 5px 0;
}

#right_column {
	position:relative;
	float:right;
	width:370px;
	margin:0 0 0 0;
}

#google_ads {
	background:#fff;
}

#contributors ul {
	list-style-type:none;
}

p strong {
	font-weight:bold;
}

#profile {
	position:relative;
}

#profile h2 {
	font-size:20px;
}

#profile .kind {
	font-size:12px;
	color:#666;
}

#profile p {
	font-size:13px;
	color:#333;
}

#image_box .avatar {
	position:relative;
	width:100%;
}



.images .box .avatar {
	width:100%;
}