.nuniverse
{
	position:relative;
	padding:30px 20px 20px 20px;
	color:#333;
	font-weight:normal;
}

.nuniverse .body
{
	position:relative;
	clear:both;
	margin:0 0 0 0;
	padding:0;
}

.nuniverse h1 {
	font-size:50px;
	font-weight:normal;
	color:#4f4f4f;
}

.nuniverse h2 {
	font-size:30px;
	color:#999;
}

.nuniverse h3 {
	
}

.nuniverse h4 {
	
}

.nuniverse .input {
	border:none;
}

.nuniverse .input fieldset {
	border:none;
}

.nuniverse .input input {
	background:none;
	border:none;
/*	border-bottom:solid 1px #666;*/
	font-size:30px;
	font-weight:normal;
	color:#333;
	margin: 5px 0 0 0;
	padding:1px 1px 3px 1px;
	width:90%;
}


.nuniverse .selected {
	height:100px;
}

.nuniverse .breadcrumbs a {
	display:block;
	color:#666;
}

.nuniverse .options {
	position:fixed;
	bottom:10px;
	background:#EAEAEA;
	padding:5px;
}

.nuniverse .options .option {
	color:#666;
	padding:0 0 0 20px;
	margin:0 10px 0 0;
	background:transparent url("/images/icons/option.png") 0 center no-repeat;
}

.nuniverse .item p {
	font-size:13px;
	padding:0 0 0 0;
	margin:0 0 5px 0;
}

.nuniverse p a {
	color:#666;
}

.nuniverse .service {
	color:#999;
}

.nuniverse .kind {
	font-size:14px;
}

.nuniverse .right {
	position:relative;
	clear:both;
	width:800px;
}

.nuniverse h1 .avatar {
/*	border:solid 1px #333;*/
	height:30px;
	width:30px;
	padding:15px 0 0 0;
	position:relative;
	float:left;
	margin-right:3px;
	
}

.nuniverse .items {
	position:relative;
	clear:both;
	margin:5px 0 0 0;
}

.nuniverse .item {
	position:relative;
	clear:both;
	margin:0 0 1px 0;
	overflow:hidden;
	cursor: move;
	background:#ccc;
	padding:5px;
}

.items .dragged {
	cursor:-moz-grabbing;
	background:#FFF;
}

.nuniverse .item .sort_actions {
	position:relative;
	float:left;
	margin-right:5px;
	width:20px;
	height:20px;
}

.item .sort_actions a {
	display:block;
}

.items .item .rank {
	width:30px;
	text-align:center;
	color:#999;
}

.nuniverse .item h3 {
	
}

.nuniverse .sorting_options {
	font-size:13px;
	color:#999;
	position:relative;
	float:left;
}

.nuniverse .sorting_options a {
	margin-right:5px;
}

.nuniverse .sorting_options .current {
	color:#333;
}

.nuniverse .pagination {
	position:relative;
	float:left;
	font-size:13px;
	color:#999;
	margin: 0 10px 0 0;
}

.nuniverse .pagination .current {
	color:#333;
}

#google_ads {
	clear:both;
	position:relative;
	float:left;
	border:solid 2px #ccc;
	padding:3px;
	background:#FFF;
}

.list_button {
	border:none;
	display:inline;
}

.list_button img {
	border:none;
	width:auto;
	height:auto;
}

.maps .items {
	position:relative;
	float:left;
	width:400px;
}

.items .hover {
	background:#eee;
	color:#333;
}

.items .hover h3 {
	color:#333;
}