#breadcrumbs
{
	position:fixed;
	padding:0;
	margin:0 0 0 0;
	top:0px;
	left:50px;
	font-size:12px;
	color:#333;
	background:none;
	display:block;
}

#breadcrumbs dd,
#breadcrumbs dt
{
	position:relative;
	float:left;
	background:none;
	padding:10px 45px 10px 35px;
	margin:0 0 2px 0;
	left:-30px;
	font-weight:bold;
	background:transparent url("/images/backgrounds/breadcrumb.png") right center no-repeat;
}

#breadcrumbs .home
{
	padding:0 35px 0 10px;
	height:34px;
	left:0;
}

#breadcrumbs .home img
{
	height:35px;
}

#breadcrumbs dd .arrow
{
	display:none;
	position:absolute;
	right:-22px;
	top:0px;
	z-index:1234;
}

#breadcrumbs dd a
{
	z-index:123456;
}

.wid
{
	position:relative;
	float:left;
	width:250px;
	height:400px;
	margin:10px;
	border:solid 1px #ccc;
}

.wid a
{
	font-size:12px;
	line-height:25px;
	padding:5px;
	background:#FFF;
	margin:1px;
	display:block;
}