<% if @tags.empty? && !@input.blank? -%>
  <h3 style="margin:5px 0 0 0">No group has been found</h3>
  <h4><%= link_to "Create this user group", "/groups/create" %></h4>
<% else -%>
  <% @tags.each do |tag| -%>
    <div style="position:relative;clear:both;margin:0 0 5px 0">
      
      <h3><%= link_to("#{thumbnail_tag(tag, :kind => 'group')} <span style='font-weight:bold'>#{tag.label}</span>","#" ) %></h3>
      <p></p>
    </div>
  <%  end %>
<% end -%>