<div class="box">
  <p style="color:#999;text-align:center;padding-top:10px;font-size:20px">
    <strong><%= current_user.connections_count %></strong> connections.
  </p>
  <div class="actions">
  <%= link_to("Upgrade", "/upgrade") %>
  <%= link_to "Edit your profile", "/users/edit" %>
  </div>
</div>