<div id="connections"  class="" style="width:1200px;height:700px;margin:100px 100px 100px 60px;position:relative;padding:0;background:none;border:none" >

  <%= spinner %>
  <div class="wrap">

  <div class="content" style="padding:0">
  <%= render :partial => "/collections/collection", :locals => {:connections => @connections, :mode => "grid", :collection => @user}%>
  </div>
  </div>

</div>