<div id="contributors" class="section">
  <h2>Active people connected to <%= @source.name %></h2>
  <% @contributors.each do |contributor| -%>
    <div class="step">
      <%= thumbnail_tag contributor %>
      <%= link_to contributor.name, user_url(contributor) %>
      
    </div>
  <% end -%>
</div>