<% if @items.empty? %>
 <div <div id="content" class="<%= @mode %>_mode dialogue" style="clear:left;height:auto;overflow:hidden;padding:0">
   <h2 style="color:#333">Here you are.</h2>
    <p>This is your nuniverse. Right now, it's empty, and it's waiting for YOU to build it.</p>
    <p>There might be hundreds of things you want to keep track of, this "empty page" is made just for that.</p>
     <p><strong>Not sure what do add?</strong> What about trying adding your favorite film, or that car you'd like to buy.<br/>You can also create a category and add things to it later.</p>
  
     <div class="search_form" id="search_form" style="margin:5px 0 0 0">
       <% form_tag "/tags/suggest" do -%>
         <%= hidden_field_tag :id, @tag.id %>
         <%= text_field_tag "input", "", :id  => "input_visit", :class => "main_input"%>
         <div class="data hidden">&nbsp;</div>
         <div class="suggestions">&nbsp;</div>
         <%= spinner %>
       <% end -%>
     </div>
 </div>

 <% else -%>
<% end -%>