<div class="box">
  <h2>You are following</h2>
  <% unless invitations.empty? %>
    <div class="items">
      <% invitations.each do |invitation| -%>
        <div class="item">
          <h3><%= link_to_item(invitation.tagging) %></h3> 
          <p>by <%= link_to(invitation.tagging.owner.login.capitalize, invitation.tagging.owner.tag) %> </p>
        </div>
      <% end -%>
    </div>
  <% end -%>
  <div class="actions">
    <%= link_to "", ""%>
  </div>
</div>