<div style="position:fixed;right:20px;bottom:10px;z-index:1001">You are logged in as <%= current_user.login %>. <%= link_to "Logout", "/logout", :style => "color:#eee", :id => "logout_lnk"%></div>
<ul id="sub-menu">
  
</ul>
<ul id="tab-menu" >
  
    <li class="selected" style="position:absolute;color:#ccc;width:70px">--</li>
    <li><%= link_to "Overview", "#overview" %></li>
    <li><%= link_to "Your nuniverses", "#S-stories-for-User-#{current_user.id}" , :id => "stories-for-User-#{current_user.id}"%></li>
    
   
</ul>

