<div class="box" style="width:96%;padding:2%;height:auto;color:#000;background:#FFF" >
   <div class="wrap">
     <h1 style='color:#000;font-weight:bold'><%= @source.login.capitalize %></h1>
   </div>
   <%= clear %>
 </div>