<div class="welcome">
 <h1>Welcome <%= @user.login %>, this is your nuniverse.</h2>
 <p> As you can see, it is empty for now,</p>
 <p>but don't you worry... soon enough, it will be filled with things to do.</p> 
 <p>Don't be surprised if you start seeing it getting a life on its own!</p>
 <br/>
 <p>So the big question is, <h3>What can you do in nuniverse?</h3></p>
 <br/>
 
 <p>Need to pick up guitar lessons, take a trip or even just have a cup of coffee? Then you're on a journey.<h2><a href="#">Start a quest</a></h2></p>

 <br/>
 
 <p>If you're not really sure about what do, you can always wander around other nuniverse.<h2><a href="#">Explore</a></h2></p>
 
 
</div>