<% nuniverse do -%>
  <h1>Activating your account</h1>
  <h2>We need an activation code to get you up and running. You may have already received the code by email, please follow the link in that email. If the code doesn't work, email us at <%= link_to("beta@nuniverse.net", "mailto:beta@nuniverse.net",:style=>"color:#1A9")%>. If you didn't received the code yet, please be patient, beta will be here soon!</h2>
  
<% end -%>