<div id="S-customize" class="section" >
    <div class="step">
      <h2>Theme your nuniverse</h2>
    </div>
    <dl class="step" id="theme">
      <dd><div class="swatch"></div><span class="description">Section</span></dd>
      <dd><div class="swatch"></div><span class="description">Even rows</span></dd>
      <dd><div class="swatch"></div><span class="description">Odd Rows</span></dd>
      <dd><div class="swatch"></div><span class="description">Section titles</span></dd>
      <dd><div class="swatch"></div><span class="description">Connections titles</span></dd>
      <dd><div class="swatch"></div><span class="description">Text</span></dd>
    </dl>
    
    

  </div>
