<div id="membership">
  <h2>How big is your nuniverse?</h2>
  <%= image_tag("/images/icons/small_nuniverse.png", :style => "position:absolute;top:30px;right:30px") %>
  <h3>Small<span class="price">Free</span></h3>
  <p>Your basic everyday need. 100 connections</p>
  <h3>Big<span class="price">$6/month</span></h3>
  <p>For the deep tracker. 300 Connections</p>
  <h3>Huge<span class="price">$12/month</span></h3>
  <p>For the professional. 1000 Connections</p>
  <h3>Infinite<span class="price">$49/month</span></h3>
  <p>Feeling expansive? Unlimited Connections</p>
</div>