<div class="nuniverse">
  <div id="breadcrumbs" >
    <%= link_to(image_tag("/images/icons/icon_nuniverse.png", :alt => "nuniverse.net"), "/", :class => "home") %>
    <h1><%= @user.login %></h1> 
  </div>
  <div class="content">
    <div class="items">
      <div class="item" class="selected">
        <%= link_to "Edit your profile", edit_user_path %>
      </div>
    </div>
    <div class="detail">
      Placeholder for the profile edit form.
    </div>
  </div>
</div>
