<% nuniverse do -%>
<div id="tutorial">
  <div class="step">
    <h2>This place is made just for you to keep track of everything you want to connect with, in a simple and easy way.</h2>
  </div>

  <div class="step">
    <h2>You might want to start by visiting other nuniverses to get some ideas. <%= link_to "Wander.", nuniverses_url %></h2>
  </div>
  <div class="step">
    <h2>Or perheaps you already know others using nuniverse. <%= link_to "Find people.", users_url , :style => "color:#88d2b7"%></h2>
  </div>
  <div class="step">
    <h2>Maybe you just know what you want.  <%= link_to "Add something to your nuniverse.", new_polyco_url, :style => "color:#f39"%></h2>
  </div>
  <div class="step">
    <h2>One more thing, don't forget to  <%= link_to "check your account.", account_url, :style => "color:#f93"%></h2>
  </div>

</div>

<% end -%>