<% nuniverse(:selected => "upgrade") do -%>
  <div class='plans'>
    <div class="plan">
      
      <%= image_tag("/images/icons/small_nuniverse.png") %>
      <h2>A small nuniverse.</h2>
      <h3>Free</h3>
      <p>Your basic everyday need. 100 connections</p>
    </div>
    <div class="plan">
      
      <%= image_tag("/images/icons/small_nuniverse.png") %>
      <h2>A bigger nuniverse.</h2>
      <h3>$9</h3>
      <p>For the deep tracker. 500 connections</p>
    </div>
    <div class="plan">
      
      <%= image_tag("/images/icons/small_nuniverse.png") %>
      <h2>A huge nuniverse.</h2>
      <h3>$20</h3>
      <p>For the professional. 2000 connections</p>
    </div>
    
  </div>
<% end -%>