<div class="box" id="address_box">
  <%= render_item(item, :kind => item.kind, :item_classes => item_classes) %>
  
  <div class="content">
    <% if item.object.has_address? -%>
      <% @map = map(:source => item.object) %>
       <% content_for :head do -%>
            <%= GMap.header (:small_zoom => true, :with_vml => false) %>
            <%= @map.to_html %>
         <% end -%>
        <%= @map.div(:width => "368px", :height => '260px') %>
    <% end -%>
  </div>

</div>
