<div class="box image-box">
  <div class="header">
    <%= link_to "edit", "#", :class => "edit-lnk", :style => "position:relative;float:right"%>
  </div>
  <div class="content" style="display:none">
    
  </div>
  <div class="edit">
    <h2>Add an image</h2>
    <%= render :partial => "/images/new" %>
  </div>
</div>
 