<div class="dialog box" > 
  <div class="content">
    <h2>New Box</h2>
    <p>Create a new...</p>
    <% form_tag do %>
      <%= text_field_tag "input", "" %><%= submit_tag "Build"%>
    <% end -%>
  </div>
</div>