<div class="popup_box hidden" id="preview_box"  >
  
  <% form_tag "/tags/update" do -%>

    
    <div class="wrap" >
      <%= image_tag("/images/icons/ajax-loader.gif", :alt => "loading... please wait", :style => "padding:10px 10px 10px 20px;", :class => "spinner hidden") %>
      <div class="content"></div>
      <div class="delimiter">&nbsp;</div>
 
    </div>
    <%= hidden_field_tag "object", @tag %>
    
    <%= link_to image_tag("/images/icons/close_btn.png"), "#", :title => "Close", :class =>"close_btn " %>
    <%= link_to "", "#", :title => "Save", :class =>" dynamic_lnk", :id => "add_to_fav_btn"%>
  <% end -%>
  <div class="footer">&nbsp;</div>
</div>