<div class="popup_box hidden" id="preview_box"  >
  <%= link_to image_tag("/images/icons/close_btn.png"), "#", :title => "Close", :class =>"close_btn " %>
   <%= link_to image_tag("/images/icons/add_to_fav.png"), "#", :title => "Save", :class =>" dynamic_lnk", :id => "add_to_fav_btn"%>

  <div class="wrap"  >
  
    <div class="content" ></div>
    <div class="delimiter">&nbsp;</div>
 
  </div>
  
  <div class="footer">&nbsp;</div>
</div>