<div id="suggestions" style="position:absolute;background:transparent url('/images/backgrounds/suggest.png') 0 0 no-repeat;z-index:999999;width:280px;padding:30px;height:580px;display:none">
  <div class="content">
    
  </div>
</div>