<div class="box" id="video_box" style="overflow:hidden;height:70px;padding:5px;">
  <%= link_to("",add_to_nuniverse_url(@tag, item.kind, :tag => item.object.id, :input => item.object.label, :url => item.object.url, :kind => item.object.kind, :data => item.object.data ), :class => "hidden add_to_fav_url")%>
  
  <%= render_item(item, :kind => item.kind, :item_classes => "hide_in_preview") %>
  
  <div class="content">
    <%= render :partial => "/ws/video", :locals => {
      :url => item.object.url,
      :flashvars => nil
    }%>
  </div>
  <%= add_to_fav_link(item, :source => @tag)%>
</div>