<div id="hat"><h1>Listing facts</h1></div>

<div style="padding:40px">
  <% @facts.each do |fact|%>
    <div class="step">
    <%= thumbnail_tag fact.subjects.first %><%= link_to fact.body, fact_url(fact) , :style => "color:#666;font-size:30px"%><%= link_to 'Edit', edit_fact_path(fact) %>
    </div>
  <% end -%>
</div>


<%= link_to 'New fact', new_fact_path %>
