 <div class="section" id="connections" style="border:10px #FFF solid;padding:10px">
   <h2>Team members</h2>
   <% @nuniverses.each do |connection| -%>
      <%= render :partial => "/nuniverses/instance", :locals => {:instance => connection} %>
   <% end -%>
   
   <%= render :partial => "/nuniverses/new" %>
     
 </div>