 <div class="section" id="connections">
   <h2>Connections</h2>
   <% @nuniverses.each do |connection| -%>
      <%= render :partial => "/nuniverses/instance", :locals => {:instance => connection}%>
   <% end -%>
   
   <%= render :partial => "/nuniverses/new" %>
     
 </div>