<div id="hat">
  <%= thumbnail_tag @nuniverses.first rescue nil %>
  <h1><%= @source.name.capitalize %></h1>
  <h5 style="color:#fff">by <%= link_to @story.author.name.capitalize, @story.author, :class => "user-lnk"%></h5>
 
  <%= clear %>
</div>