  <div class="box" style="overflow:hidden;position:absolute;top:100px;left:420px;width:300px;height:300px;">
   <% @map = map(locations) %>
   <% if @map -%>
      <% content_for :head do -%>
        <%= GMap.header (:large_map => true, :with_vml => false) %>
        <%= @map.to_html %>
      <% end -%>
      <%= @map.div(:width => "100%", :height => 500, :style=>"position:relative") %>
    
   <% end -%>
 </div>