<h1>Listing stories</h1>

<table>
  <tr>
  </tr>

<% for story in @stories %>
  <tr>
    <td><%= link_to story.name, story %></td>
    <td><%= link_to 'Edit', edit_story_path(story) %></td>
    <td><%= link_to 'Destroy', story, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= render :partial => "new" %>
