

 
<div class="dialog box" style="top:80px;left:250px">
  <div class="content">
     <h3>You can create <span style="color:#f90">3</span> more nuniverses this month. <span class="connection"><%= link_to "Upgrade", "/upgrade", :id => "upgrade-account" %></span></h3>
     <div class="step">
       <%= link_to "I want to make a list >", "/groups/new", :target => "#create-nuniverse-box"%>
      </div>
      <div class="step">
        <%= link_to "I want to make a free form nuniverse >", "/stories/new", :target => "#create-nuniverse-box" %>
      </div>
  </div>
</div>


<div class="dialog box" id="create-nuniverse-box" style="top:80px;left:560px;display:none">
  <div class="content">

  </div>
</div>
    
