<% nuniverse do -%>
  <div id="overview">
    <div id="right-column">
      <%= render :partial => "/stories/menu" %>
    </div>
    <div id="left-column">
      <div id="content" style="clear:none">
        <% if @connections.empty? -%>
          <div class="step">
            <h2>You're about to tell a story</h2>
            Like, in every story, first thing to do is to set up the decor, and add the protagonists.
            Just enter the name of the people, things or places you want to populate this story with. Chances are they might have been already used in another story...
             <div class="step" style="clear:left" id="new-connection-step">
             <%= render :partial => "/stories/add_form", :locals => {:params => {:behavior => ""}} %>
            </div>
          </div>
        <% else -%>
       
          <%= render :partial => "/connections/connections", :locals => {:connections => @connections} %>
          <div class="step" style="clear:left" id="new-connection-step">
            <%= render :partial => "/stories/add_form", :locals => {:params => {:behavior => ""}} %>
          </div>
        <% end -%>
      </div>
    </div>
  </div>

  
  <%#= display_options %>
<% end -%>
<%#= home_link  %>