<%= render :partial => @story %>
<div  class="empty tile" style="margin:0 5px 5px 0;color:#333;width:150px" >
   <%= spinner %>
   <h2 style="color:#333;padding:0"      
     <%= link_to "+","/boxes/new", :target => "new" %>
   </h2>
</div>
<div class="edit grid" >
  <% @boxes.each_with_index do |box,i| %>s
    <% if i == 0 %>

    <% else -%>
  
       <% render_box(:box => box) do -%>
          <%= render_item(box.content.item) %>
        <% end -%>
    

     
    <% end -%>
  <% end -%>
</div>

