
<% @comments.each do |comment| -%>
  <% vote = @namespace.rankings.by(comment.author).first %>
  <div class="box" style="background:<%= color_for_score(vote.score) %>"><%= render :partial => comment %></div>
<% end -%>