

  <% source.categories.each do |cat| -%>
    <div class="box" id="connections" style="background:#FFF">
      <h3 style="color:#000"><%= cat.name.pluralize.titleize %></h3>
      <dl>
      <% source.connections.of_klass('Nuniverse').tagged(cat).paginate(:page => 1, :per_page => 3).each do |connection| %>
        <%= render :partial => connection  %>
      <% end -%>
      </dl>
    </div>
  <% end -%>
