<div class="hat">
  <%= thumbnail_tag @nuniverse %>
  <h1><%= @nuniverse.name %></h1>
</div>

<%= clear %>
<div class="section">
  
  <% 10.times do |time| %>
    <dl class="row"><dt>property</dt><dd></dd><dd></dd></dl>
  <% end -%>
  
</div>