<!-- <div class="connections">
  <% google(tag.content).each do |rst| -%>
    <dd class="connection">
      <a href="<%= rst.url %>"><%= rst.title %></a>
      <p><%= rst.content %></p>
    </dd>
  <% end -%>
  </div> -->