<div id="hat" style="background:#333;padding:10px;color:#ccc">
    <%= thumbnail_tag @source %>
    <h1>This is <span style="color:#FFF"><%= @source.name.capitalize %></span>'s nuniverse</h1>
  <div class="delimiter"></div>
</div>