<div class="box" id="hat" >
  
  <div class="privacy" style="color:#ccc;padding:0 0 0 0">This is the nuniverse of</div>
    <h1>
      <%= path.first.name.titleize %> <%= path.last.name unless path.empty? %>
    </h1>

    <div class="hidden path"><%= path.to_s %></div>

    <div class="category hidden" ><%= "#{path.last.name.singularize}: " unless path.empty? %></div>
    <div style="clear:both"> </div>
 
</div>