<div id="images" class="section">
  <h2>Images</h2>
  <% @images.each do |image| -%>
    <div class="step">
      <%= link_to thumbnail_tag(image), image_url(image) %>
    </div>
  <% end -%>
  <%= clear %>
  <%= render :partial => "/images/new"%>
</div>