<div class="step">
  You are visiting the nuniverse of <strong style="font-weight:bold"><%= @source.name.capitalize %></strong>.<br/>
  <h5>Public Tags for this nuniverse:<br/><%= @source.tags.collect{|c| c.label}.join(', ') %><br/> <%= link_to "Edit tags", edit_nuniverse_url(@source) %></h5>
</div>