<div id="overview" class="section">
  <%= render :partial => "hat"%>
  <% if @facts.empty? %>
  <div class='step'>
    No facts about that nuniverse yet. <%= link_to "Add a fact", "#facts" %>
  </div>
  <% else -%>
    <% @source.facts.paginate(:page =>1, :per_page => 4).each do |f| %>
      <div class="step" ><%= render_fact(f) rescue " "%></div>
    <% end -%>
  <% end -%>
</div>
