<%= render :partial => "/nuniverses/breadcrumbs", :locals => {:path => @path} %>

<div class="nuniverse">
  <div class="sidebar left">
    <%= header_for(tag)%>
    <%= left %>
  </div>
  
  <div class="body" id="nuniverse_body">
    <%= body %>
  </div>
</div>