<dl class="actions">
  <dd>
    <a href="#">The Item's Log</a>
  </dd>
  <h3>With this item,</h3>
  <dd>
    <a href="#">You can...</a>
    <p><i>Actions</i></p>
  </dd>
  <dd>
    <a href="#">Ebay</a>
    <p><i>Actions</i></p>
  </dd>
  <dd>
    <a href="#">Amazon</a>
    <p><i>Actions</i></p>
  </dd>
</dl>