
<div class="content log">
  <h3><%= tag.content %>'s log</h3>
  <% if @connections.empty? -%>
    <h4>Nothing happened yet.</h4>
  <% else -%>
    <h4>This is what happened lately in this nuniverse</h4>
    <dl class="connections">
      <% @connections.each do |connection| -%>
          <%= render :partial => "/taggings/instance", :locals => {:connection => connection}%>
      <% end -%>
    </dl>
  <% end -%>

</div>

<% list_for(:kind => "person", :path => @path) do -%>
  <h3>Who can you meet to help you in that quest?</h3>
  <p><i>eg:"Albert Einstein", "John Doe", "Batman"...</i></p>
<% end -%>

<% list_for(:kind => "location", :path => @path) do -%>
  <h3>Where can you go from here?</h3>
  <h4>You can go to:</h4>
<% end -%>

<% list_for(:kind => "item", :path => @path) do -%>
  <h3>What you can find in this location?</h3>
  <h4>You can find:</h4>
<% end -%>