<% geolocate([@tag])%>
<% content_for :head do -%>
  <%= GMap.header (:local_search => true) %>
  <%= @map.to_html %>
<% end -%>
  
<% header_for(:tag => tag) do -%>

<dl class="connections">
  <% @connections.each do |connection| -%>
      <%= render :partial => "/taggings/instance", :locals => {:connection => connection}%>
  <% end -%>
</dl>
<% end -%>

<div class="content" style="padding:0" id="map_content">
    <%= @map.div(:width => "100%", :height => 450) %>
</div>


<div class="content" id="places_content">
  <h2>Places</h2>
</div>
<div class="content" id="people_content">
  <h2>People</h2>
</div>
<div class="content" id="lists_content">
  <h2>Lists</h2>
</div>