<% form_tag "/tags/suggest" do -%>
  <h2>Connect with another nuniverse</h2>
  <%= hidden_field_tag "id", @tag.id %>
  <%= hidden_field_tag "kind", "nuniverse" -%>
  <%= text_field_tag "input", "", :class => "input",  :autocomplete => "off", :id => "input_connect"%>
  <div class="data hidden"></div>
<% end -%>
<div class="suggestions" style=";min-height:100px"></div>
