<dl class="actions">
  <dd>
    <a href="#">The log</a>
    <p>Get an overview of what happened lately in this nuniverse.</p>
  </dd>
  <dd>
    <a href="#">Visit another nuniverse</a>
  </dd>
  
  <dd>
    <a href="#">what to do</a>
    <p>What's the purpose of this visit?</p>
  </dd>
  <dd>
    <a href="#">Your quests</a>
    <p>Resume a quest where you left off</p>
  </dd>

</dl>