<dl class="actions">
  <dd>
    <a href="#">The log</a>
    <p>Get an overview of what happened lately in this nuniverse.</p>
  </dd>

  
  <dd>
    <a href="#">Start a new quest</a>
    <p>That's your starting point for almost about everything you want to do in nuniverse.</p>
  </dd>
  <dd>
    <a href="#">Your quests</a>
    <p>Resume a quest where you left off</p>
  </dd>
  <dd>
    <a href="#">Visit another nuniverse</a>
  </dd>
</dl>