<div class="content">
  <h3>You are meeting with <%= tag.content %></h3>
<dl class="actions">
  <dd>
    <a href="#">The Log</a>
    <p><i>Overview of what happened lately in this person's nuniverse.</i></p>
  </dd>
  <h4>What can you do here?</h4>
  <dd>
    <a href="#">You can talk about...</a>
    <p><i>People &amp; characters that will help you complete that quest.</i></p>
  </dd>
  <dd>
    <a href="#"><%= tag.content %>'s places</a>
  </dd>
  <dd>
    <a href="#">You can buy...</a>
    <p><i>Useful items.</i></p>
  </dd>
 
</dl>
</div>