<div class="content log">
  <h3><%= tag.content %>'s log</h3>
  <% if @connections.empty? -%>
    <h4>Nothing happened yet.</h4>
  <% else -%>
    <h4>This is what happened lately in this nuniverse</h4>
    <dl class="connections">
      <% @connections.each do |connection| -%>
          <%= render :partial => "/taggings/instance", :locals => {:connection => connection}%>
      <% end -%>
    </dl>
  <% end -%>

</div>

<div class="content">
  <h3>You can talk about</h3>
  

</div>