<%= avatar_for(tag) %>
<dl class="actions">
  <dd><a href="#" id="home">Home</a></dd>
  <dd><a href="#" id="places">Places</a></dd>
  <dd><a href="#" id="people">People</a></dd>
  <dd><a href="#" id="lists">Lists</a></dd>
</dl>