<div class="content log">
  <h3><%= tag.content %>'s log</h3>
  <% if @connections.empty? -%>
    <h4>Nothing happened yet.</h4>
  <% else -%>
    <h4>This is what happened lately in this nuniverse</h4>
    <dl class="connections">
      <% @connections.each do |connection| -%>
          <%= render :partial => "/taggings/instance", :locals => {:connection => connection}%>
      <% end -%>
    </dl>
  <% end -%>

</div>

<% list_for(:kind => "topic", :path => @path) do -%>
  <h3>What can talk about?</h3>
  <p><i>eg:"Science", "Politics"...</i></p>
<% end -%>

<% list_for(:kind => "item", :path => @path) do -%>
  <h3>What can you buy from this person?</h3>
  <h4>You can get</h4>
<% end -%>