<% header_for(:tag => tag) do -%>
  <dl class="connections">
    <% @messages.each do |message| -%>
      <%= render :partial => "/taggings/message", :locals => {:message => message }%>
    <% end -%>
  </dl>
  <div class="delimiter" style="position:relative;clear:both">&nbsp;</div>
  <% if logged_in? -%>
    <%= render :partial => "/nuniverses/new_message", :locals => {:recipient => tag }%>
  <% end -%>
<% end -%>

<div class="content" id="places_content">
  <h2>Places</h2>
</div>
<div class="content" id="people_content">
  <h2>People</h2>
</div>
<div class="content" id="lists_content">
  <h2>Lists</h2>
</div>