<div class="content">
<dl class="actions">
  <dd>
    <a href="#">The Quest Log</a>
    <p><i>Whether you're talking about a country or a restaurant, this would be the place.</i></p>
  </dd>
  <h3>To complete that quest,</h3>
  <dd>
    <a href="#">You need to...</a>
    <p><i>Actions</i></p>
  </dd>
  <dd>
    <a href="#">You can meet with...</a>
    <p><i>People &amp; characters that will help you complete that quest.</i></p>
  </dd>
  <dd>
    <a href="#">You can use...</a>
    <p><i>Quest items</i></p>
  </dd>
  <dd>
    <a href="#">You can go to...</a>
    <p><i>Places you might need to visit to complete that quest.</i></p>
  </dd>
</dl>
</div>