<div class="avatar" style="background:#FFF;text-align:center;"><%= image_tag('/images/icons/quest.png') %></div>
  <dl class="actions">

    <dd><a href="#" id="home">Home</a></dd>
    <% unless @places.empty? -%>
      <dd><a href="#" id="map">Map</a></dd>
    <% end -%>
    <dd><a href="#" id="places">Places</a></dd>
    <dd><a href="#" id="people">People</a></dd>
    <dd><a href="#" id="lists">Lists</a></dd>
  </dl>
