<div class="content">
<dl class="actions">
  <dd>
    <a href="#">The Quest Log</a>
    <p><i>Whether you're talking about a country or a restaurant, this would be the place.</i></p>
  </dd>
  <dd>
    <a href="#">Explore</a>
    <p><i>.</i></p>
  </dd>
  <h3>To complete that quest,</h3>
  <dd>
    <a href="#">You can meet with...</a>
    <p><i>People &amp; characters that will help you complete that quest.</i></p>
  </dd>
  <dd>
    <a href="#">You can go to...</a>
    <p><i>Places you might need to visit to complete that quest.</i></p>
  </dd>
  <dd>
    <a href="#">Add an encounter</a>
    <p><i>People or characters you might encounter during your quest.</i></p>
  </dd>
  <dd>
    <a href="#">Add a quest item</a>
    <p><i>What will you need to complete that quest?</i></p>
  </dd>
  <dd>
    <a href="#">What can you do</a>
    <p><i>A quest within the quest. Don't be surprised if it turns out to be bigger than the quest itself!</i></p>
  </dd>
</dl>
</div>