<div id="scorecard" style="width:100%;padding:0"  >
  <div id="scoretag" style="position:relative;top:0;width:96%;height:auto;z-index:200000">
      <% if !logged_in? %>
          <h3>Log in and vote</h3>
        <% elsif @current_user_vote %>
          <h3 class="status" style="background:none;color:#FFF;padding:0">
            Your rate: <span class="score_<%= @current_user_vote.score.round   %>"><%= @current_user_vote.score.round %></span>
           <%= link_to "Change your mind", "#", :target => "#rate-picker", :id => "change-your-mind-lnk" %>
          </h3>
        <% end -%>
    </div>
    <%# render :partial => "/nuniverse/rate_picker"  if logged_in?%>
</div>
