<div id="toolbar" >
  <div class="wrap" style="padding:0;width:95%; margin:0 auto 1% auto;background:none" >
      
      <ul id="breadcrumbs" style="height:0;border:none;padding:0;display:none" >
        <div style="display:none">
          <li class="selected" style="background:#000" > </li>
          <li><%= link_to "#{@source.name.titleize}", "##{@source.unique_name}" %></li>
        </div>
      </ul>

 
      <%= render :partial => "/nuniverse/input", :locals => {:source => @source, :path => "/#{@source.unique_name}"} %>
  
   
  </div>
</div>