<div class="content">
  <%= h3_for(path) %>
 <dl class="actions">
  <dd>
    <a href="#">The Log</a>
    <p><i>Overview of what happened lately in this topic's nuniverse.</i></p>
  </dd>
  <dd>
    <a href="#">Comments</a>
    <p><i>.</i></p>
  </dd>
</dl>
</div>