<div class="avatar" style="background:#FFF;text-align:center;"><%= avatar_for(tag) %></div>
<dl class="actions">
  <dd><a href="#" id="home">Home</a></dd>
  <dd><a href="#" id="messages">Messages</a></dd>
  <dd><a href="#" id="places">Places</a></dd>
  <dd><a href="#" id="people">People</a></dd>

  <dd><a href="#" id="profile">Your profile</a></dd>
</dl>