
   <% if !@connections.empty? -%>
   <div class="content header" id="home_content">
      <%= render :partial => "/users/welcome" %>
    </div>
   <% else -%>
    <% header_for(:tag => tag) do -%>
        
    <% end -%>
   <% end -%>
  


<div class="content" id="messages_content">
  <h2>Messages</h2>
  <dl class="connections">
    <% @connections.each do |connection| -%>
    <dd class="connection">
      <%= link_to_nuniverse(connection.object) %> to <%= connection.subject.content %>
    </dd>
    <% end -%>
  </dl>
</div>
<div class="content" id="places_content">
  <h2>Places</h2>
</div>


<%= render :partial => "/taggings/people", :locals => {:path => path}%>
<div class="content" id="lists_content">
  <h2>Lists</h2>
</div>

<div class="content" id="profile_content">
  <h2>Your Profile</h2>
</div>