<dl class="actions">
  <h5>This is <a href="#">your nuniverse</a></h5>
  <dd>
    <a href="#">Visit another nuniverse</a>
  </dd>

  <dd>
    <a href="#">Review your log</a>
    <p><i>Get an overview of what happened lately in your nuniverse.</i></p>
  </dd>
  <dd>
    <a href="#">Quests</a>
    <p><i>That's your starting point for almost about everything you want to do in nuniverse.</i></p>
  </dd>
  <dd>
    <a href="#">Places</a>
    <p><i></i></p>
  </dd>


  <dd>
    <a href="#">Edit your profile</a>
    <p><i>The more you give, the more you'll receive.</i></p>
  </dd>
</dl>