<h2>Discuss about Handshake Coffee Product line</h2>
<%= image_tag "/images/mockups/discuss-handshake.png" %>
<%= link_to image_tag("/images/icons/create_button.png"), "/facts/new", :id => "add-fact" %>