<div>
  <dl id="search-results">
  <% @nuniverses.each do |nuniverse| -%>
    <dd style="width:20%;padding:2%;position:relative;float:left;height:auto;background:#FFF;margin:0 2px 2px 0;height:80px">
      <%= thumbnail_tag nuniverse rescue nil %>
      <p><%= nuniverse.tags.collect {|t| t.name}.join(', ')%></p>
      <h3><%= link_to nuniverse.name, "/#{nuniverse.unique_name}"%></h3>
      
      <%= clear %>
    </dd>
  <% end -%>
  </dl>
</div>