

<%= render :partial => @nuniverse %>
<div class="set list">
<% @nuniverse.connections.of_klass('Fact').each do |connection| -%>
  <dd class="tile" style="padding:10px;font-size:18px;margin:0;border:none;height:auto;min-height:0;;border-bottom:solid #efefef 1px">
    <span style="font-weight:bold;margin: 0 10px 0 0">
      <%= connection.subject.tags.first.name rescue nil %>
    </span><%= render_fact(connection.subject)%></span>
<% end -%>
</div>