
 <div class="hat step">
   <%= thumbnail_tag @source %>
   <h2><%= link_to @source.name.capitalize, polymorphic_url(@source)%></h2>
 </div>
 
   <div class="step">
    <dl class="fact-sheet">
      <% @source.facts.paginate(:page => 1, :per_page => 5).each do |fact| %>

          <%= render :partial  => "facts/instance", :locals => {:instance => fact}%>

      <% end -%>
    </dl>
    </div>
  