<div class="tags">
  <div class="hidden">
    <%= link_to "", "#", :class => "tag trigger", :mode => "untag" -%>
  </div>
  <% selecteds.each do |tag| -%>
    <%= link_to tag, "#", :class => "tag trigger", :mode => "untag" -%>
  <% end -%>
 
</div>
