<dd class="connection"> 

    <span class="avatar"><%= avatar_for(connection.object) %></span>
    
    
    <span class="kind <%= connection.object.kind %>_kind"><%= connection.object.kind %></span>
    <br/>
    <%= link_to_nuniverse(connection.object, :path => connection.path, :class => "nuni") %>
   
</dd>