<div class="connection"> 
  <%= render_tag(connection)%>
  <div class="preview">
    <div style="padding:20px">
    <%= render_tag(connection)%>
    <p><%= connection.description %></p>
    <p><%= link_to(connection.url, connection.url, :target => "_blank") %>
    </div>
  </div>
    
  <div class='delimiter'>&nbsp;</div>
</div>