<% if reverse
    tag = connection.subject
    path = TaggingPath.new
  else 
    tag = connection.object 
    path = connection.path
  end -%>

<dd class="connection"> 
    <span class="avatar"><%= avatar_for(tag) %></span>
    <span class="kind <%= tag.kind %>_kind"><%= tag.kind %></span>
    <br/>
    <%= link_to_nuniverse(tag, :path => path, :class => "nuni") %>   
</dd>