<div class="header">
    <%= avatar_for(tag) %> 
    <h1>
      <%= label %>
    </h1>
    <h4><%= tag.kind %></h4>
    <%= link_to 'Edit', edit_tag_path(tag) , :class => 'edit' %>
    
    <%#= render :partial => "/tags/perspectives", :locals => {:tag => tag, :selected => "You"} %>
</div>