<% @map = map(:source => tag, :path => nil, :items => nil ) %>

<div class="box" >
  <% if @map -%>
    <% content_for :head do -%>
      <%= GMap.header (:large_map => true, :with_vml => false) %>
      <%= @map.to_html %>
    <% end -%>
    <%= @map.div(:width => "100%", :height => 300, :style=>"position:relative") %>
  <% else -%>
   
  <% end -%>

</div>