<div class="new">
  <h4><%= title %></h4>
  <h3></h3>
  <p><i><%#= description %></i></p>
  <% form_tag '/tags/create' do -%>
    <%= hidden_field_tag :kind, kind %>
    <%= hidden_field_tag :path, path %>
    <%= text_field_tag :content, ""  %>
    <input type="submit" value="Make it public">
    <input type="submit" value="Make it private" class ="private">
  <% end -%>
</div>