
<div style="padding:3px;margin:1px 0 0 0" id="list_menu">
<%= will_paginate items, :inner_window => 2  unless @perspective.kind == "service"%>
<%= sorting_options :source => @tag  unless items.empty? %>
</div>
<%= columnize(render_connections(items)) %>