<%= link_to image_tag("/images/icons/comment.png", :height => '30px', :style => "position:relative;float:right;right:20px;top:10px"), "#TODO" %>
<div class="tag">Todo</div>
<%= check_box_tag "Done!"%>
<%= link_to element.body, fact_url(element), :style => "font-size:20px" %>

