<div class="tag" style="position:relative;float:left;width:auto;padding:5px 10px 5px 10px;background:#eeeeef;font-weight:bold;font-size:20px;margin:0 1px 1px 0">
 <%= @tagging.predicate %> <span style="padding:0 0 0 30px"><%= link_to "x", "/tags/remove_tag/#{@tagging.id}", :class => "trigger ", :mode => "remove" %></span>
</div>