  <div class="tag_cloud" >
  
    <% @tags.each do |tag| -%>
        <%= link_to tag.kind, "#" , :style => "font-size:#{[tag.counted.to_i+12,18].min}px;padding:0 5px 0 0; color:#999;", :class => "trigger"%>
    <% end -%>
     <br/>
      <%= text_field_tag "tags", "" , :class => "input"%>
      <%= link_to "Save changes", "/tags/update/#{@tag.id}", :class => "trigger" %>

  </div>
   