<% nuniverse do -%>
  <div class="column">
  </div>
  </div class="column" style="width:75%">
    <% @tag.images.each do |image| -%>
      <div class="box">
        <%= image_tag(image.public_filename)%>
        <%= link_to 'Delete', "/images/destroy/#{image.id}", :confirm => 'Are you sure?', :method => :delete %>
      </div>
    <% end -%>
  </div>
<% end -%>