<%= render :partial => "/layouts/hat", :locals => {:selected => "home"} %>
<div class="nuniverse">
  <div class="logo">
    <%= image_tag('/images/icons/logo_nuniverse.png', :alt => 'nuniverse_logo') %>
  </div>
  <div id="search">
    <div class="wid" src="nuniverse">
    </div>  
   <div class="wid" src="google">
     
   </div>
   <div class="wid" src="amazon">
    </div>

  <div class="wid" src="daylife">
  </div>
  </div>
</div>