<%= render :partial => "/layouts/hat", :locals => {:selected => "home"} %>
<div class="nuniverse">
  <div class="logo">
    <%= image_tag('/images/icons/logo_nuniverse.png', :alt => 'nuniverse_logo') %>
  </div>
  <div class="tags">
    <% @tags.each do |tag| %>
      <%= tag.label %>  - 
    <% end %>
  </div>
</div>