<h1>Add tags</h1>
<div class="add">
<% form_tag '/tags/create' do -%>
  <%= hidden_field_tag :path, "" %>
  <%= text_field_tag :kind, "" %>
  <%= text_field_tag :content, ""  %>
  <input type="submit" value="Create">
<% end -%>
</div>


<%= link_to 'Back', tags_path %>
