<% nuniverse do -%>
    <%= link_to '< Back to your nuniverse', "/my_nuniverse" %>
  <div class="hat">
    <h1><%= @tag.label.capitalize %></h1>
  </div>
  <div class="column">
    <%= render :partial => "/taggings/image", :locals => {:object => @tag}%>
  </div>
  
  <div id="left_column">
    <% @tag.connections.each do |connection| %>
      <h3><%= link_to connection.object.label,"/about/#{connection.object.label}" %></h3>
    <% end -%>
  </div>
<% end -%>
