<% locations = google_localize(:source => @tag.label) %>


<% locations[0..6].each do |location| -%>
  <div class="connection">
    <strong><%= link_to(location.name,  "", :class => "trigger", :mode => "locate") %></strong>
    <p><%= location.full_address %> <%#= item.property('tel') %></p>
    <div class="data hidden" >
      <%#= hidden_field_tag "data", item.data %>

    </div>
  </div>
<% end -%>
<div class='delimiter'>&nbsp;</div>
<%= image_tag("/images/icons/powered_by_google.gif", :style => "position:relative")%>