<div class="section current_section">
  <div class="content">
    
    <%= render :partial => "/ws/youtube", :locals => {
      :url => @video_url,
      :flashvars => @flashvars
    }%>
  </div>
</div>