<%= image_tag(tag.source.public_filename(), :style => "width:378px")%>
  <div style="position:relative;width:auto">
    <%= link_to image_tag("/images/icons/comment.png", :style => "height:30px"), "/comments/new", :class => "trigger" %>
  </div>