<h2>2. Add an address</h2>
<label>Type in the address you want to enter </label><br/>
<%= text_field_tag "input", "", :class => "input", :style => "width:480px", :autocomplete => "off"%><br/>
Google suggests the following matching addresses.
<%= submit_tag 'Add it.' %>