<!-- <div class="ad box">
  <h6>Suggestion</h6>
  <h3>Bob Meddle is giving tennis lessons 2 blocks away from you</h3>
  <p><a href="#">Take lessons for $30/h</a>   <a href="#">More details</a></p>
</div> -->

 <!-- <script type="text/javascript"
   src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
 </script> -->
 
 <div class="box" id="google_ads">
   <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
 </div>