<div class="box" id="amazon_box">
  <%= expander_icon %>
  <h2>Amazon products</h2>
  <div class="items">
    <% items.each do |item| -%>
      <div class="item">
        <%= thumbnail_tag(item)%>
        <h3><%= link_to item.label.capitalize, item.url %></h3>
      </div>
    <% end -%>
  </div>
  <div class="actions">
    <%= toggle(:label => "Find Related Amazon products", :command => "#amazon ")%>
  </div>
</div>