<div class="option" id="option_bookmark"> 
  <%= link_to ("nuniverse" , "bookmark", :class => "kind hidden") -%>
  <h2>2. Name it <%= link_to("","#step_2", :class => "trigger selected_option") %></h2>
  <div class="content">
   
    <label>Add the url to bookmark</label>
    <%= text_field_tag "url", "", :class => "input", :style => "width:480px", :autocomplete => "off"%>
    <label>Add a quick description. The first line will be used as title. (optional)</label>
    <%= text_area_tag "description", "", :rows => 3, :style => "width:480px;font-size:14px" %>
  </div>
</div>