<div class="ads" style="position:relative;padding:5px;background:#FFF">
             <script type="text/javascript"
               src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
             </script>
</div>         
<dl class="connections">
  <% if connections.empty? -%>
  <div class="message" style="padding:2px">
    <h2>You haven't added anything to this <%= path.last_tag.kind %> yet.</h2>
    <a href="#" class="toggle">Add now</a>
  </div>
  <% else -%>

    <% if connections.previous_page -%>
      <dd class="pager top">
        <%= link_to("less", "/nuniverse_of/#{path}/page/#{connections.previous_page}") %>
      </dd>
    <% end -%>

    <% connections.each do |connection| -%>
        <%= render :partial => "/nuniverse/connection", :locals => {
          :connection => connection,
          :path => path
        }%>
    <% end -%>

    <% if connections.next_page -%>
        <dd class="pager bottom">
          <%= link_to("more", "/nuniverse_of/#{path}/page/#{connections.next_page}") %>
        </dd>
    <% end -%>
  <% end -%>
</dl>