<dl class="connections">
<% connections.each do |article| %>
  <dd class="connection <%= cycle('even','odd') %>" >
      <h3><%= link_to(article.headline.capitalize,article.url) %>
        <span class="source">
          <%= link_to(article.source.name.capitalize, article.source.daylife_url)%> article @ Daylife
        </span>
      </h3>
      <p><%= article.excerpt %></p>
  </dd>
<% end -%>
</dl>