<div class="form_box hidden" id="select_group_form" style="padding:10px;margin:10px">
  <div style="padding:40px;position:relative;width:auto">
    <h1>Visit another nuniverse.</h1>
    <% form_tag "/groups/add_user" do -%>
      <fieldset>
        <label>Well... go ahead, type it.</label><br/>
        <%= hidden_field_tag "kind", "group"%>
        <%= text_field_tag "input", "", :class => "input" %>
      </fieldset>
    <% end -%>
    <div class="suggestions" style="margin:20px 0 20px 0">
    </div>

  </div>
  <div style="position:absolute;bottom:70px;right:70px;clear:both">
    <%= link_to image_tag("/images/icons/save_changes_btn.png"), "/groups/update", :title => "Save Changes", :id => "save_perspectives" %>
    <%= link_to image_tag("/images/icons/cancel_btn.png"), "#", :title => "Cancel", :class =>"cancel_button"%>
  </div>

</div>