<%= render :partial => "/boxes/preview" %>

<%= breadcrumbs %>
<div id="nuniverse" class="<%= @display %>_mode">
  <%= content %>
  <%#= render :partial => "/nuniverses/main_menu"%>
</div>

<div id="section-template" style="display:none" class="section">
  <div class="border-e" style="position:absolute;right:0;height:100%;width:2px;background:#333;cursor:e-resize"></div>
  <div class="border-s" style="position:absolute;right:0;width:100%;cursor:s-resize;background:#333;height:1px"></div>
  <div class="content"><div class="hat">
  <h2></h2>
  </div></div>
</div>