<% content_for :head do -%>
  <%= GMap.header (:local_search => true, :large_map => true, :with_vml => false) %>
  <%#= @map.to_html%>
<% end -%>

<div class="nuniverse" id="nuniverse">
  <%= render :partial => "/nuniverse/breadcrumbs", :locals => 
  {
    :path => path
  }%>
  <div class="scroller"> 
    <div class="body">  
      <% page_for(:tag => tag, :path => path, :classes => "current_page") do -%> 
        <%= content_for_page(:tag => tag, :path => path, :perspective => perspective, :filter => filter) %>
      <% end -%>

    </div>
  </div>
</div>

<div class="hidden">
 <%= image_tag("/images/icons/ajax-loader.gif", :alt => "loading... please wait", :style => "padding:10px",:id => "page_spinner")%>
</div>
<!-- <script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script> -->