<%= render :partial => "/boxes/preview" %>

<%#= breadcrumbs %>
<div id="nuniverse" class="<%= @display %>_mode">
  <%= content %>
  <%#= render :partial => "/nuniverses/main_menu"%>
</div>

<div id="section-template" style="display:none" class="section">
  <div class="content"><div class="hat">
  <h2></h2>
  </div></div>
</div>