<% nuniverse do %>
    <h1>Welcome, <%= current_user.login.capitalize %>, this is your nuniverse</h1>
    <h2>Browse your existing lists</h2>
    <%= render :partial => "/nuniverse/connections", :locals => {
      :items => @items,
      :selected => nil,
      :service => @service
    }%>
    <h2>or create a new one</h2>
    <%= render :partial => "/taggings/find_or_create", :locals => {
        :subject => @tag,
        :path => @path} %>
<% end -%>

<div class="hidden">
 <%= image_tag("/images/icons/ajax-loader.gif", :alt => "loading... please wait", :style => "padding:10px",:id => "spinner") %>
</div>