<%= render :partial => "/nuniverse/log" %>

<% list_for(:kind => "quest", :object => tag, :reverse => true) do -%>
  <h3>What quest this item can help you with?</h3>
  <h4>this can help you to</h4>
<% end -%> 

<div class="content">
  
</div>

<div class="content">
  
</div>