<div class="box" id="localize">
  <div class="actions">
  <%= command(:label => "Localize on google", :command => "localize") %>
  <%= command(:label => "+ Add your own address", :command => "address")%>
  </div>
</div>