<div class="box" id="localize">
  <h4><%= command(:label => "Select an address from google local search", :command => "localize") %></h4>
  <div class="items" class="hidden">
   
  </div>
  <h4>or <%= command(:label => "+ Add your own", :command => "address")%></h4>
</div>