<div class="box" id="localize">
  <h4><%= link_to("Select an address from google local search", "#", :class => "expander") %></h4>
  <div class="items" class="hidden">
    <% items.each do |item| -%>
          <div class="item">
            <h3>
              <%= link_to(item.label, "/taggings/update/#{@tagging.id}?address=#{CGI::escape(item.property('address'))}&latlng=#{item.property('latlng')}") %>
            </h3>
            <p><%= item.property('address') %></p>
          </div>
        <% end -%>
  </div>
  <h4>or <%= toggle(:label => "+ Add your own", :command => "#address ")%></h4>
</div>