<div class="form_box inline hidden"  id="select_<%= title %>_form" style="background:#eee url('/images/backgrounds/main.png') 0 -95px  repeat-x;border:none;width:100%;height:100%;"> 
  <div class="wrap" style=" height:100px;background:none;padding:20px" >
    <% form_tag :action => action, :multipart => true do -%>
      <div class="data hidden"></div>
      <%= hidden_field_tag "nuniverse", @tag.id %>
      <%= content %>
    <% end -%>
  </div>
  <%= link_to(image_tag("/images/icons/cancel_btn.png"), "#", :title => "Cancel", :class =>"close_btn", :style => "position:fixed;bottom:20px;left:20px;") %>
</div> 