<div class="article">
  <%#= render_hat(:subject => section.subject, :section => section ) %>
  
  <% unless section.subject == current_user.tag %>
    <%= render :partial => "/tags/#{section.subject.kind}_overview", :locals => {
      :subject => section.subject,
      :path => section.path
    } rescue 
    render :partial => "/tags/default_overview", :locals => {
      :subject => section.subject,
      :path => section.path
    }%>
  <% end -%>
  <dl class="connections">
    <dt>Your most recent additions</dt>
    <% section.overview.each do |connection| -%>
        <%= render :partial => "/nuniverse/connection", :locals => {
          :connection => connection,
          :path => section.path
        }%>
    <% end -%>
     
    </dl>
</div>