<% render_section(@section, :dom_classes => "current_section") do -%>
  
 <div class="connections">
   <%= render(:partial => "/taggings/instance", :collection => section.overview, :locals => {:section => section} )%>
 </div>
<% end -%>