<div class="section current_section">
  <div class="menu">
    <a href="#" class="back">&lt; back</a>

  </div>
  <div class="content">
    <dl class="connections">
      <div class="ads" style="position:relative;padding:5px;background:#FFF">
        <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
      </div>
        <%= render(:partial => "/taggings/instance", :collection => nuniverse.overview )%>
    </dl>
  </div>
</div>