<div class="section current_section">
  <div class="menu">
    <a href="#" class="back">< back</a>
    <!-- <dl class="order">
          <dt>Sorted by date</dt><%= image_tag("/images/icons/down.png", :alt => "Change sorting order") %>
          <dd class="selected"><%= link_to("by date", "/section_of/#{nuniverse.path}?order='latest'") %></dd>
          <dd><%= link_to("by name", "/section_of/#{nuniverse.path}?order='name'") %></dd>
        </dd> -->
  </div>
  <div class="content">
    <dl class="connections">
      <div class="ads" style="position:relative;padding:5px;background:#FFF">
        <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
      </div>
        <%= render(:partial => "/taggings/instance", :collection => nuniverse.overview )%>
    </dl>
  </div>
</div>