<dl class="dropdown perspectives">
    <dt>According to <span class="label"><%= section.perspective %></span><%= image_tag("/images/icons/down.png", :alt => "Change perspective") %></dt>
    <% if logged_in? -%>
      <% perspectives = ['you','everyone','google','map','local','videos','ebay','amazon','flickr','daylife','wikipedia', 'twitter'] -%>
    <% else -%>
      <% perspectives = ['everyone','google','map','local','ebay','videos','amazon','flickr','daylife','wikipedia', 'twitter'] -%>
    <% end -%>
    <% perspectives.each do |perspective| -%>
      <dd class="item <%= perspective == section.perspective ? 'selected' : '' %>">
        <%= link_to(perspective.capitalize, "/current_section/according_to/#{perspective}") %>
      </dd>
    <% end -%>
</dl>