<div id="perspectives">
  <strong style="font-weight:bold;font-size:13px">According to </strong><br/>
  <% perspectives.each do |pers| -%>
    <%= pers %><br/>
  <% end -%>
  <div class="delimiter"> </div>
</div>