<dl class="tab dropdown">
    <dt>According to <span class="label"><%= section.perspective %></span><%= image_tag("/images/icons/down.png", :alt => "Change perspective") %></dt>
    <% if logged_in? -%>
      <% perspectives = ['you','your entourage','everyone','google', 'ebay','amazon','freebase','flickr','daylife', 'twitter'] -%>
    <% else -%>
      <% perspectives = ['everyone','google','map','local','ebay','amazon','videos','freebase', 'flickr','daylife','wikipedia', 'twitter'] -%>
    <% end -%>
    <% perspectives.each do |perspective| -%>
      <dd class="item <%= perspective == section.perspective ? 'selected' : '' %>">
        <%= link_to(perspective.capitalize, "/current_section/according_to/#{perspective}") %>
      </dd>
    <% end -%>
</dl>