<div class="perspectives">
  <dl>
    <dt>According to <%= selected %></dt>
    <% perspectives = ['you','everyone','google','map','ebay','amazon','flickr','daylife','wikipedia'] -%>
    <% perspectives.each do |perspective| -%>
      <dd class="item <%= perspective == selected ? 'selected' : '' %>">
        <%= link_to(perspective.capitalize,"/current_nuniverse/according_to/#{perspective}") %>
      </dd>
    <% end -%>
  </dl>
  
</div>