<div class="popup" id="<%= html[:id] rescue ""%> preview" >
  <%= link_to image_tag("/images/icons/close_btn.png"), "#close", :class => "close-btn"%>
  <div class="content"></div>
  <div class="footer"></div>
</div>