 <div id="search_box" >
  <% form_tag "/#{controller.controller_name}/show/#{@source.id}"  do -%> 
    <%= text_field_tag "input", @input, :class => "main_input" , :id => "input_filter"%> 
  <% end -%>
 </div>

 