 <div id="search_box" class="<%= @filter.blank? ? "" : "filled" %>"style="position:relative;float:right;top:5px;right:5px">
  <% form_tag "/#{controller.controller_name}/show/#{@source.id}"  do -%> 
    <%= text_field_tag "input", @filter, :class => "main_input" , :id => "input_filter"%> 
  <% end -%>
 </div>

 