<div class="section <%= dom_classes.blank? ? "" : dom_classes %>">
  <div class="menu">
    <a href="#" class="back">< back</a>
    <%= render :partial => "/nuniverse/perspectives" , :locals => {:section => section}%>
  </div>
  <div class="content">
    <%= content %>
  </div>
</div>