<div class="section <%= dom_classes.blank? ? "" : dom_classes %>">
  <%#= render :partial => "/nuniverse/slider" %>
  <div class="content">
    
    <%= content %>
    <%= render :partial => "/nuniverse/ads" %>
  </div>
  
</div>