<div class="tabs">
  <a href="#" class="back">&lt; back</a>
  <%= render :partial => "/nuniverse/perspectives" , :locals => {:section => section} %>
  <%= render :partial => "/nuniverse/filters", :locals => {:section => section} %>
  <%= render  :partial => "/taggings/new", 
                :locals => {
                  :kind => "",
                  :path => section.path
                }%>
  
</div>