<div class="spinner hidden" style="position:relative;float:left;width:auto" >
  <label><%= message %></label>
  <%= image_tag("/images/icons/ajax-loader.gif", :alt => "loading... please wait", :style => "padding:10px") %>
</div>