<div class="option" id="option_comment"> 
  <%= link_to ("nuniverse" , "comment", :class => "kind hidden") -%>
  <h2>2. Write your comment <%= link_to("","#step_2", :class => "selected_option trigger") %></h2>
  <div class="content">
    <%= text_area_tag "body", "", :rows => 6, :style => "margin-top:20px;width:350px;font-size:14px;" %>
    <%= link_to "Done.", "#step_3", :class => "trigger"%>
  </div>
</div>