<div class='heading' id="title_box">
  <%= thumbnail_tag source %>
  <h1 class="title" style="position:relative;float:left"><%= source.title %></h1>
  <div style="positon:relative;float:left;margin:15px 0 0 10px">
  <% @tag.taggings.each do |tag| -%>
    <div class="tag" style="margin:0 1px 1px 0;position:relative;float:left;padding:4px;background-color:#eee"><%= tag.predicate %></div> 
  <% end -%>
  <div class="tag" style="margin:0 1px 1px 0;position:relative;float:left;padding:4px;background-color:#999;color:#eee"><%= link_to "Edit tags", "/tags/#{source.id}/edit" %></div>
  </div>
</div>