<div id="view" style="height:100%;width:100%;padding:10px;display:none;position:fixed;top:0;left:0">
  <%= link_to image_tag("/images/icons/close_btn.png"), "#", :title => "Close", :class =>"close-btn " , :style => "width:auto;height:auto;position:fixed;top:30px;right:30px"%>
  <%= spinner %>
  <div class="content">
   
  </div>
</div>