<% render_section(section, :dom_classes => "current_section") do -%>
 <div class="content article">
   <h1>Welcome.</h1>
   <h2>Your nuniverse is empty right now.</h2>
   <p>You can change this by <%= link_to("+ adding something","#",:class =>"toggle") %></p>
 </div>
<% end -%>