<% render_section(section, :dom_classes => "current_section") do -%>
 <div class="welcome content">
   <div class="article">
     <h1>Welcome.</h1>
     <h2>Start typing what you want to add to your nuniverse.</h2>
   </div>
   <div class="connections">
  </div>
     
 </div>
<% end -%>