<div class="section current_section">
  <div class="content" style="padding:10px">
    <h1>Welcome.</h1>
    <h2>Your nuniverse is empty right now.</h2>
    <p>You can change this by <a href="#" class="toggle">+ adding something</a></p>
  </div>
</div>