<% items = google_localize(:source => @input)%>
<%= image_tag("/images/icons/powered_by_google.gif", :style => "position:absolute;top:5px;right:5px")%>
<% items[0..2].each do |item| -%>
  <div class="item">
    <h3>
      <%= link_to(item.label, "/tags/update/#{@source.id}?address=#{CGI::escape(item.property('address'))}&latlng=#{item.property('latlng')}&tel=#{item.property('tel')}") %>
    </h3>
    <p><%= item.property('address') %> <%= item.property('tel') %></p>
  </div>
<% end -%>