<% nuniverse do -%>
  <div id="content">
    <div class="step">
      <%= render :partial => "/nuniverses/new" %>
    </div>
    <div class="step">
      <%= render :partial => "/bookmarks/new" %>
    </div>
    <div class="step">
      <%= render :partial => "/images/new" %>
    </div>
    <div class="step">
      <%= render :partial => "/users/new" %>
    </div>
  </div>
<% end -%>