<div class="box list"  id="list"> 
  <div class="items">
<% @items.each do |item| %>
  <div class="item <%= cycle('even','odd') %>"> 
      <%= image_tag(item.thumbnail,:class => "thumbnail")%>
     <h3>
        <%= link_to_object(item) %>
      </h3>
      
      <p><%=  "#{item.precision} #{item.price}" %></p>
      <div class="delimiter">&nbsp;</div>
  </div>
<% end -%>
</div>
</div>