<div class="box list" id="bookmarks">
  <h2>
    <%= image_tag('/images/icons/bookmark.png',:class=>'icon',:alt => "bookmark") %>
    Bookmarks
  </h2>
  <div class="items hidden">
  <%= render :partial => "/taggings/instance", :collection => source.connections(:kind => 'bookmark') %>
  </div>
  <div class="actions">
    <%= link_to("+ Add a bookmark", "#bookmark ", :class => "toggle")%>
    <%= link_to("Google.", "#")%>
  </div>
</div>