<div class="box" style="overflow:hidden">
  <%= thumbnail_tag(item.object)%>
  <h3><%= link_to_item(item, :source => source) %></h3>
  <p style="font-size:12px;color:#666"><%= item.info %></p>
  <div class="delimiter">&nbsp;</div>
  <p style="font-size:14px;color:#999;font-weight:bold;font-style:italic;padding:5px"><%= item.specific_info %></p>
     
</div>