<% if current_user == @tagging.owner -%>
  <div class="box" id="contributors">
    <h2><%= link_to("Share","/taggings/share/#{@tagging.id}") %></h2>
    <% if contributors.empty? -%>
      <h3>No one has been invited yet.</h3>
    <% else -%>
      <ul>
        <% contributors.each do |contributor| -%>
         <li><%= contributor.login.capitalize %></li>
        <% end -%>
      </ul>
    <% end -%>
  </div>
<% end -%>