<%#= map_box(@tagging) %>

  <%= lists_for(@tagging) %>

<% if @tagging.lists(:user => current_user).empty? -%>
  <div class="box" id="virgin_item">
    
    <h2>You haven't added anything to <%= @tagging.title %> yet.</h2>
    <h3>
      <%= command(:label => "+ Add a new category now", :command => "Add a new category") %>
    </h3>
    <div class="content"></div>
  </div>
<% end -%>