<div class="input" id="finder">
  <h2>Add Something</h2>
  <div class="suggestions"></div>
  <% form_tag "/taggings/connect" do -%>
    <%= hidden_field_tag "path", path %>
    <%= hidden_field_tag "subject", subject.id %>
    <%= text_field_tag "query", "", :id => "input" %>
  <% end -%>
</div>