<div class="box" id="image_box" >
  <% unless object.images.empty? -%>
    <div class="images" style="width:100%;">
      <%= image_tag(object.avatar, :class => 'avatar') %>
    </div>
    <div class="actions" style="text-align:center">
      <% object.images.length.times do |time| -%>
        <%#= link_to('&#8226;',"/")%>
      <% end -%>
      <%= command(:label => "+ Add another image", :command => "New image")%>
    </div>
  <% else -%>
  <div class="actions" style="text-align:center">
    <%= command(:label => "+ Add an image", :command => "New image")%>
  </div>
  <% end -%>
</div>

