<div class="box" id="image_box" >
  <% if avatar_for(object) %>
    <%= avatar_for(object) %>
    <div class="actions">
      <%= command(:label => "+ Add another image", :command => "image")%>
      <%= link_to("See all images", "/tags/images/#{object.id}")%>
    </div>
  <% else -%>
    <%= command(:label => "+ Add another image", :command => "image")%>
  <% end -%>
</div>

