<div class="connection <%= item_classes rescue "" %>" >
  <%= thumbnail_tag(item.object, :kind => kind)  %>
  <p><%= item.current_tags rescue item.kind %></p>
  <h3><%= link_to_item(item, :kind => kind) %></h3>
</div>