<!-- <div id="input_box" class="">
  <% form_tag "/taggings/find_or_create", { :multipart => true } do -%>
    <fieldset>
      <%= hidden_field_tag "kind", @list.label %>
      <div class="section">
        <label>You want to add</label>
        <%= text_field_tag "label", "",  :autocomplete => "off" %>
      </div>
     
    </fieldset>
    <%= spinner %>
    <div class="suggestions" id="suggestions" title="/taggings/suggest"></div>
  <% end -%>
</div> -->