<% box_for(:title => "People", :kind => "person") do -%>
  <div class="items">
    <%= render :partial => "/taggings/instance", :collection => source.connections(:kind => 'bookmark') %>
  </div>
  <%= link_to("+ Add a bookmark", "#bookmark ", :class => "toggle")%>
<% end -%>