<div class="box" id="perspectives">
  <%#= expander_icon %>
  <dl class="tabs">
    <dt>According to</dt>
    <% perspectives.each do |pers| -%>
      <dd class="<%= @service == pers[2] ? "current" : "" %>">
        <%= link_to(pers[2],pers[1]) %>
      </dd>
    <% end -%>
  </dl> 
</div>