<%= image_tag("/images/icons/powered_by_google.gif", :style => "position:absolute;bottom:5px;right:5px")%>
<% items.each do |item| -%>
  <div class="item">
    <h3>
      <%= link_to(item.label, "/taggings/update/#{@tagging.id}?address=#{CGI::escape(item.property('address'))}&latlng=#{item.property('latlng')}&tel=#{item.property('tel')}") %>
    </h3>
    <p><%= item.property('address') %></p>
    <p><%= item.property('tel') %></p>
  </div>
<% end -%>