<%= render :partial => "/layouts/hat", :locals => {:selected => "home"}%>
<div class="nuniverse">
 
  <div class="content">
    <h2>Lately in nuniverse...</h2>
    <dl class="connections">
        <% for connection in @connections %>
           <%= render :partial => "instance", :locals => {:connection => connection}%>
        <% end %>
    </dl>
  </div>
  
</div>