<div class="nuniverse">
  <div id="breadcrumbs">
      <dd class="home">
        <%= link_to(image_tag("/images/icons/icon_nuniverse.png", :alt => "nuniverse.net"),"/") %>
      </dd>
  </div>
  <div class="content">

    
    <div class="detail">
      <div class="items">
        <% for connection in @connections %>
           <%= render :partial => "instance", :locals => {:connection => connection}%>
        <% end %>
      </div>
    </div>
  </div>
  
</div>