<%= render :partial => "/layouts/hat", :locals => {:selected => "home"}%>
<div class="nuniverse" >
  <div class="header">
    <%= image_tag("/images/icons/logo_nuniverse.png") %>
  </div>
  <div class="content" style="width:80%;">
    <h1>See it all, your way.</h1>
    <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque blandit turpis sit amet nisl. Nam et dolor at tortor suscipit mollis. Morbi felis enim, iaculis at, sollicitudin sed, vestibulum sit amet, nisi. Sed vel nisi. Quisque viverra risus sit amet pede. Duis quis augue. Suspendisse justo tortor, tristique a, porttitor in, feugiat vestibulum, dui. Cras quis risus nec orci euismod euismod. Ut eros massa, luctus in, dapibus vel, vestibulum in, enim. Nam condimentum. Pellentesque pulvinar, leo nec sollicitudin consequat, risus nibh dignissim nisi, nec sodales sem enim at felis. Duis elit. Curabitur non tellus quis mi hendrerit lobortis. </h2>
  </div>
  
</div>