<% nuniverse(:selected => "about") do -%>
    <div class="header">
      <%= link_to(image_tag("/images/icons/nuniverse_logo.png"),"/beta") %>
    </div>
    <h1>Nuniverse is a personal content management system.</h1>
    <h2>Using keywords, (or "tags"), you create content and assign it to your topics of choice. With nuniverse, you can easily define your own tagging system, organize your content into lists, and combine your effort with selected contributors.</h2>
    <br/>
    <h3>It's an ideal tool for getting a clear picture of whatever you need to keep track of.</h3><h3><%= link_to("Register for a free account", "/signup", :style=>"color:#1A9") %> today and learn more about all the possibilities of nuniverse.</h3>
    <br/>
    <h4><%= link_to("Back to base", "/beta", :style=>"color:#1A9")%></h4>
<% end -%>