<% nuniverse(:selected => "about") do -%>
    <div class="header">
      <%= link_to(image_tag("/images/icons/nuniverse_logo.png"),"/beta") %>
    </div>
    <h1>Shape your world.</h1>
    <h2>Keeping track of what matters is now an easy thing. More than a personal content management system, Nuniverse also helps you define a clear perspective of your environment, in a new, intuitive and user-friendly way.</h2>
    <br/>
    <h3><%= link_to("Register for a free account", "/signup", :style=>"color:#1A9") %> today to learn more about all the possibilities of nuniverse.</h3>
    <br/>
    <h4><%= link_to("Back to base", "/beta", :style=>"color:#1A9")%></h4>
<% end -%>