<% nuniverse do -%>
    <div class="header">
      <%= image_tag("/images/icons/nuniverse_logo.png") %>
    </div>
    <h1>Almost beta.</h1>
    <h2>We're tightenings the bolts for our private beta launch, which is officially scheduled for this month of October.</h2>
    <h2>If you interested, <%= link_to("register for an account", "/signup", :style=>"color:#1A9") %> to be on our beta guest list.</h2>
    <br/>
    <h3>See you soon!</h3>
    <h4><%= link_to("More info about nuniverse","/about", :style=>"color:#1A9") %></h4>
<% end -%>