<% nuniverse do -%>
    <div class="header">
      <%= image_tag("/images/icons/logo_nuniverse.png") %>
    </div>
    <h1>Big bang beta... around the corner.</h1>
    <h2>This headline is overly dramatic, but beta is really around the corner .</h2>
    <h2>So, if you interested in registering, simply drop us an email at</h2>
    <h3 style="font-size:30px;color:#666"><%= link_to("beta@nuniverse.net", "mailto:beta@nuniverse.net") %></h3>
    <br/>
    <h4 style="color:#999">See you soon!</h4>
<% end -%>