<% nuniverse do -%>
    <div class="header">
      <%= image_tag("/images/icons/nuniverse_logo.png") %>
    </div>
    <h1>Big bang beta... around the corner.</h1>
    <h2>This headline is overly dramatic, but beta is really around the corner .</h2>
    <h2>So, if you interested, <%= link_to("register for an account", "/signup", :style=>"color:#1A9") %> to be on our beta guest list.</h2>
    <br/>
    <h4 style="color:#999">See you soon!</h4>
<% end -%>