<% nuniverse do -%>
    <div class="header">
      <%= image_tag("/images/icons/nuniverse_logo.png") %>
    </div>
    <h1>Big bang beta... around the corner.</h1>
    <h2>We're tightenings the bolts, and everyone is excited as it getting closer to launch. </h2>
    <h2>So, if you interested, <%= link_to("register for an account", "/signup", :style=>"color:#1A9") %> to be on our beta guest list.</h2>
    <br/>
    <h3>See you soon!</h3>
    <h4><%= link_to("More info about nuniverse","/about", :style=>"color:#1A9") %></h4>
<% end -%>