<% nuniverse(:selected => "feedback") do -%>
  <h1>We <%= image_tag("/images/icons/heart.png", :alt => "heart") %> feedback.</h1>
  <h2>Whether it's about a new feature, a bug, an overall critic or just a praise, we REALLY appreciate your comments. Our goal is to make you feel at home. <span style="color:#999;font-size:20px">Feel free to be picky, precise and detail-oriented. Together, we can make this site, well... your site.</span></h2>

  <% form_tag "/feedback" do -%>
    <fieldset>
      <%= text_area_tag "feedback", "", :cols => 70, :rows => 7, :style => "width:auto;display:block;" %>
      <%= submit_tag "Feed us!" %>
    </fieldset>
  <% end -%>
<% end -%>