<% nuniverse do -%>
  <div id="hat" style="margin:50px">
    <%= image_tag("/images/icons/logo-nuniverse-2009.png") %>
  </div>
  <div id="fact-tv" style="width:300px">
    <div class="fact" style="width:300px">
      
      <%= render :partial => @fact %>
    </div>
  </div>
  
<% end -%>