<% form_for :location, :url => {:controller => "locations"}  do |f| -%>
  <h3>Add an address</h3>
  
    <%= hidden_field_tag "id", @source.id %>
    <%= f.text_field "name",  :autocomplete => "off", :id => "input_address", :style => "display:inline;float:none;width:260px" %>
    
    <%= clear %>
    <fieldset>
  </fieldset>
  
  <div class="suggestions" id="suggestions" style="width:100%;display:block"></div>
  
  <%= f.submit "Add" %>
  <div class="delimiter">&nbsp;</div>
<% end -%>