<div class="hidden connect_form" id="connect_image_form" >
  <% form_tag  create_and_connect_url(@tag) , { :multipart => true } do -%>
    <h2>Add an image</h2>
    <fieldset>
      <div class="data hidden">&nbsp;</div>
      <%= hidden_field_tag "object", @tag.id %>
      <%= text_field_tag :source_url, "", :class => "input",  :id => "input_image", :autocomplete => "off"%>
      <br/>
      <label style="color:#fff">... or upload a file from your computer</label><br/>
      <%= file_field_tag :uploaded_data , :id => "input_upload"%>

      <div class="delimiter" style="margin: 0 0 5px 0">&nbsp;</div>
    </fieldset>
    <%= link_to image_tag('/images/icons/add_button.png'), "/images/create", :class => "trigger", :mode => "image"  %>

  <% end -%>
</div>