<% nuniverse do -%>
  <h1>Images for <%= @source.name %></h1>
  
  <% @images.each do |img| %>
    <%= link_to image_tag(img.public_filename(:large)), "/remove-image/#{img.id}/from/#{@source.unique_name}" %> 
  <% end -%>
<% end -%>