<% nuniverse do -%>
<div class="section"  id="Image-<%= @image.id %>" style="top:20px;" >
<div id="content">
  <div class="step" style="position:relative">
    <%= image_tag @image.avatar, :style => "height:100%"%>
  </div>
</div>
</div>
<% end -%>